/*--------------------------------------------------------------
-- Block separator --
--------------------------------------------------------------*/

.wp-block-separator {
	width: 100px;
	margin: 30px auto;
	background-color: transparent;
	border: none;
	border-top: 1px solid $dark;
	clear: both;

	&.is-style-wide {
		width: 100%;
	}

	&.is-style-dots {
		margin: 20px auto;

		&:before {
			color: $dark;
			padding-left: 9px;
			letter-spacing: 10px;
		}
	}
}
