/*--------------------------------------------------------------
-- Gutenberg Editor --
--------------------------------------------------------------*/

.block-editor .wp-block {
	max-width: calc( var( --narrow-wrapper-width ) - 40px );
}

.post-type-post .block-editor .wp-block[data-align="wide"],
.post-type-page.page-template-default .wp-block[data-align="wide"],
.post-type-page.page-template-page-narrow .wp-block[data-align="wide"] {
	max-width: calc( #{$max_width} - 40px );
}

.post-type-post .block-editor .wp-block[data-align="full"],
.post-type-page.page-template-default .wp-block[data-align="full"],
.post-type-page.page-template-page-narrow .wp-block[data-align="full"] {
	max-width: none;
}

.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="wide"],
.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="wide"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="wide"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="full"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="wide"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="full"],
.block-editor .wp-block[data-align="wide"][data-type="core-embed/twitter"],
.block-editor .wp-block[data-align="wide"][data-type="core-embed/facebook"],
.block-editor .wp-block[data-align="wide"][data-type="core-embed/instagram"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"] {
	max-width: calc( var( --narrow-wrapper-width ) - 40px );
}

.block-editor .wp-block[data-align="wide"][data-type="core-embed/twitter"],
.block-editor .wp-block[data-align="wide"][data-type="core-embed/facebook"],
.block-editor .wp-block[data-align="wide"][data-type="core-embed/instagram"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
	}

	> .block-editor-block-list__block-edit {
		@include from( 600 ) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 43px;
		padding-right: 43px;
	}
}

.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"],
.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_left .block-editor .wp-block[data-align="full"],
.page-template-default.post-type-post.sidebar-is-active.customizer-template-sidebar_right .block-editor .wp-block[data-align="full"],
.page-template-post-sidebar-right.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"],
.page-template-post-sidebar-left.post-type-post.sidebar-is-active .block-editor .wp-block[data-align="full"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 43px;
		padding-right: 43px;

		.wp-block-columns > .block-editor-inner-blocks {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.page-template-default.post-type-page .block-editor .wp-block,
.page-template-default.post-type-page .block-editor .wp-block[data-type="core-embed/twitter"],
.page-template-default.post-type-page .block-editor .wp-block[data-type="core-embed/facebook"],
.page-template-default.post-type-page .block-editor .wp-block[data-type="core-embed/instagram"] {
	max-width: calc( var( --wrapper-width ) - 40px );
}

.page-template-default.post-type-page .wp-block[data-align="wide"] {
	@include from( 1300 ) {
		max-width: calc( #{$max_width} + 100px );
	}

	@include from( 1300 ) {
		max-width: calc( #{$max_width} + 200px );
	}
}

.page-template-default.post-type-page .block-editor .wp-block[data-align="full"] {
	max-width: none;	
}

.page-template-default.post-type-page .block-editor .wp-block[data-align="wide"][data-type="core-embed/twitter"],
.page-template-default.post-type-page .block-editor .wp-block[data-align="full"][data-type="core-embed/twitter"],
.page-template-default.post-type-page .block-editor .wp-block[data-align="wide"][data-type="core-embed/facebook"],
.page-template-default.post-type-page .block-editor .wp-block[data-align="full"][data-type="core-embed/facebook"],
.page-template-default.post-type-page .block-editor .wp-block[data-align="wide"][data-type="core-embed/instagram"],
.page-template-default.post-type-page .block-editor .wp-block[data-align="full"][data-type="core-embed/instagram"] {
	max-width: calc( var( --wrapper-width ) - 40px );
}

.page-template-page-sidebar-left.post-type-page .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"],
.page-template-page-sidebar-right.post-type-page .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 43px;
		padding-right: 43px;
	}
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
	@include from( 600 ) {
		margin-left: auto;
		margin-right: auto;
	}	
}
