/*--------------------------------------------------------------
-- Title --
--------------------------------------------------------------*/

.edit-post-visual-editor .editor-post-title__block {
	margin-bottom: var( --section-spacer );

	.post-type-page & {
		padding: 0 17px;
	}

	.post-type-post & {
		--section-spacer: 30px;
	} 
}

.editor-post-title {
	.post-type-page & {
		text-align: center;
	}
}

.editor-post-title__block {
	position: relative;

	.post-type-post & {
		width: 100%;
	}

	.post-type-page & {
		display: inline-block;
	}
}

.editor-post-title__block .editor-post-title__input {
	.post-type-page & {
		font: normal 400 2rem $heading_font_family;
		letter-spacing: 1px;
		text-align: center;
		margin: 0;
		display: inline-block;
		padding: 10px 0 13px;
		z-index: 1;

		@include from( 500 ) {
			font-size: 3rem;
		}

		@include from( 850 ) {
			font-size: 3.5rem;
		}
	}

	.post-type-post & {
		font: normal 700 1.75rem $heading_font_family;
		line-height: 1.3;
		margin: -9px 0 0 0;
		padding: 0 0 13px;
		border-bottom: 1px solid $light;
		position: relative;

		@include from( 500 ) {
			font-size: 2rem;
			margin: -10px 0 0 0;
			padding-bottom: 20px;
		}

		@include from( 900 ) {
			font-size: 2.5rem;
			margin: -12px 0 0 0;
			line-height: 1.25;
		}

		@include from( 1100 ) {
			font-size: 3rem;
			margin: -14px 0 0 0;
			line-height: 1.2;
		}

		&:before {
			content: '';
			@include top_left( 100% );
			width: 20px;
			height: 1px;
			background: $dark;
		}
	}
}
