/*--------------------------------------------------------------
-- Editor styles wrapper --
--------------------------------------------------------------*/

html {
	font-size: 17px;
}

.wp-admin .editor-styles-wrapper {
	font-weight: 300;
	font-family: $content_font_family;
	line-height: var( --body-line-height, 1.8 );
	color: $content_color;

	strong, b {
		font-weight: bold;
	}
}

.wp-admin .editor-styles-wrapper a {
	text-decoration: none;
	transition-duration: var( --transition-duration );
	color: var( --link-color );
	font-family: $content_font_family;

	@include hover() {
		color: var( --link-hover-color );
	}
}

.block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit {
	margin: 20px 0;
}

.wp-block-verse pre,
.wp-block-preformatted pre,
.wp-block-freeform.block-library-rich-text__tinymce pre {
	font-family: 'Courier 10 Pitch', Courier, monospace;
	font-size: 1rem;
	line-height: 1.6;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	overflow: auto;
	padding: 20px 25px;
	color: #9e9e9e;
	background-color: $very_light;
	white-space: pre !important;
}

// list
.editor-styles-wrapper .block-library-list ul,
.editor-styles-wrapper .block-library-list ol,
.wp-block-freeform.block-library-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce ol,
.block-editor ul.wp-block-archives,
.block-editor ol.wp-block-archives,
.block-editor ul.wp-block-latest-posts,
.block-editor ol.wp-block-latest-posts,
.block-editor .wp-block-categories ul,
.block-editor .wp-block-categories ol {
	margin: var( --list-margin );
	list-style: var( --list-style ) var( --list-style-position );
	padding: var( --list-padding );
}

.editor-styles-wrapper .block-library-list ol,
.wp-block-freeform.block-library-rich-text__tinymce ol,
.block-editor ol.wp-block-archives,
.block-editor ol.wp-block-latest-posts,
.block-editor .wp-block-categories ol {
	list-style: var( --order-list-style ) var( --list-style-position );
}

.editor-styles-wrapper .block-library-list ul ul,
.editor-styles-wrapper .block-library-list ul ol,
.editor-styles-wrapper .block-library-list ol ol,
.editor-styles-wrapper .block-library-list ol ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ol,
.wp-block-freeform.block-library-rich-text__tinymce ol ol,
.wp-block-freeform.block-library-rich-text__tinymce ol ul,
.block-editor ul.wp-block-archives ul,
.block-editor ul.wp-block-archives ol,
.block-editor ol.wp-block-archives ol,
.block-editor ol.wp-block-archives ul,
.block-editor ul.wp-block-latest-posts ul,
.block-editor ul.wp-block-latest-posts ol,
.block-editor ol.wp-block-latest-posts ol,
.block-editor ol.wp-block-latest-posts ul,
.block-editor .wp-block-categories ul ul,
.block-editor .wp-block-categories ul ol,
.block-editor .wp-block-categories ol ol,
.block-editor .wp-block-categories ol ul {
	margin: var( --nested-list-margin );
	padding: var( --nested-list-padding );
}

.editor-styles-wrapper .block-library-list li,
.wp-block-freeform.block-library-rich-text__tinymce li,
.block-editor .wp-block-archives li,
.block-editor .wp-block-latest-posts li,
.block-editor .wp-block-categories li {
	margin: var( --list-item-margin );
}

// Blockquote.
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
		border-left: 2px solid $very_dark;
		padding-left: 20px;
}

.wp-block-table {
	border-color: $light;
	color: $content_color;
	font: normal 300 17px $content_font_family;
	font-size: 0.9rem;

	td {
		border-color: inherit;
	}
}

.block-editor .wp-block-latest-posts,
.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul {
	li {
		color: $content_color;
	}

	a {
		text-decoration: underline;
	}

	&.is-grid {
		--list-style: none;

		li {
			margin: 0 6px 6px 0;
		}
	}
}


// Blockquote.
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
	background-color: $very_light;
	padding: 20px;
	font-size: 1.1rem;
	font-style: normal;
	border-left: 4px solid $very_dark;

	@include from( 500 ) {
		padding: 30px;
	}

	@include from( 700 ) {
		padding: 50px;
	}

	.wp-block-quote__citation {
		font-size: 0.8rem;
		text-align: inherit;
		margin-top: 15px;
		font-style: normal;
		color: $content_color;
	}
}

.wp-block-quote p,
.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
	margin-bottom: 12px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 1.5rem;
	font-style: normal;
}

.wp-block-audio figcaption {
	font-size: 0.75rem;
}


// Columns.
.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type='core/column'] {
	margin-bottom: 20px;
}

@include from( 600 ) {
	.block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-drop-zone {
		margin: 0;
	}

	.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type='core/column'] {
		margin: 20px 0;
	}

	.block-editor-block-list__layout .block-editor-block-list__block {
		padding-left: 0;
		padding-right: 0;
	}
}

.wp-block-column {
	margin-top: 20px;
	margin-bottom: 20px;
}

.block-editor .wp-block-latest-posts a, .block-editor .wp-block-categories ul a {
	text-decoration: underline;
}

.wp-block-pullquote {
	color: $content_color;

	&.is-style-default {
		border-top: 4px solid $very_dark;
		border-bottom: 4px solid $very_dark;
	}
}

.wp-admin .wp-block-pullquote blockquote > .block-editor-rich-text p {
	font-size: 1.4rem;
	max-width: 90%;
	margin: 0 auto;
}

.wp-block-pullquote {
	border-top: 4px solid $very_dark;
	border-bottom: 4px solid $very_dark;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 90%;
	text-align: center;
}

.wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	font-size: 0.8rem;
	margin-top: 15px;
	text-transform: uppercase;
}

.wp-block-pullquote__citation {
	color: $content_color;
}

.wp-block-image figcaption {
	color: $content_color;
}

.wp-block-cover-image, .wp-block-cover.alignleft {
	margin-right: 1.5em;
}

.wp-admin .wp-block-cover p a {
	font-size: inherit;
	color: #f8f8f9;

	@include hover() {
		color: #f8f8f9;
	}
}

.wp-block-button:not( .is-style-outline ) .wp-block-button__link:not( .has-text-color ) {
	color: var( --button-color );

	@include hover() {
		color: var( --button-hover-color );
	}
}

.wp-block-button:not( .is-style-outline ) .wp-block-button__link:not( .has-background ) {
	background-color: var( --button-background );

	@include hover() {
		background-color: var( --button-hover-background );
	}
}

.wp-block-button.is-style-outline .wp-block-button__link:not( .has-text-color ) {
	color: var( --button-background );

	@include hover() {
		color: var( --button-hover-background );
	}
}

.wp-admin .editor-styles-wrapper .block-editor-block-list__block select {
	outline: none;
	color: inherit;
	appearance: none;
	padding: 10px 15px;
	box-shadow: none;
	width: 100%;
	font-size: 1rem;
	font-weight: inherit;
	margin: 0;
	border-radius: 0;
	background-color: $very_light;
	border: 1px solid $light;
	cursor: pointer;
	height: 45px;
	min-height: 45px;
	overflow-y: scroll;
}

.wp-admin .editor-styles-wrapper .wp-block-latest-comments__comment-date {
	margin-top: -4px;
	margin-bottom: 10px;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
	background-color: inherit;
	color: inherit;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption {
	text-align: center;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.aligncenter a,
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.aligncenter img {
	display: inline-block;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption {
	line-height: 1.7;
}

.wp-admin .block-editor cite {
	font-style: normal;
	font-size: 0.8rem;

	a {
		font-size: 0.8rem;
	}
}

.wp-block[data-type="core/spacer"] {
	clear: both;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
	margin-left: 0;
	margin-top: 10px;
	display: table;
}

.wp-block[data-type="core/archives"][data-align="center"],
.wp-block[data-type="core/categories"][data-align="center"],
.wp-block[data-type="core/categories"][data-align="left"] .wp-block-categories,
.wp-block[data-type="core/categories"][data-align="right"] .wp-block-categories {
	width: 200px;
	text-align: left;
}

.wp-admin	.wp-block-archives.wp-block-archives-list {
		&.alignleft,
		&.alignright,
		&.aligncenter {
			width: 200px;
		}

		&:not( .children ) {
			> li:first-of-type,
			> li:first-of-type > a {
				padding-top: 0;
			}

			> li:last-of-type,
			> li:last-of-type > a {
				border: none;
				padding-bottom: 0;

				span.post-date {
					margin-bottom: 0;
				}
			}
		}

		li {
			@include flex( $justify: space-between, $align: center );
			margin: 8px 0;
			padding-bottom: 7px;
			border-bottom: 1px dashed $light;
			font-size: 0.8rem;

			&:first-child {
				margin-top: -5px;
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				margin-bottom: -5px;
				border: none;
			}
		}

		a {
			display: inline-block;
			padding: 0;
			text-transform: uppercase;
			word-break: break-all;
			font-size: 0.8rem;

			&:before {
				content: '\f073';
				font-family: 'Font Awesome 5 Free';
				margin-right: 8px;
				font-size: 0.7rem;
				color: $dark;
			}
		}
	}

	.wp-admin	.editor-styles-wrapper .wp-block-latest-posts {
		--nested-list-margin: 0;
		--nested-list-padding: 0;
		--list-margin: 0;
		--list-padding: 0;
		--list-style: none;
		--order-list-style: none;
	}

	.wp-admin	.editor-styles-wrapper .wp-block-categories {
		--nested-list-margin: 0;
		--nested-list-padding: 0;

	ul.wp-block-categories__list-level-0 > li {
		border-bottom: 1px dashed $light;
		padding: 5px 0;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	
	ul:not( .wp-block-categories__list-level-0 ) {
		margin-left: 10px;
		width: 100%;

		li {
			margin: 4px 0;
		}

		a:before {
			content: '- ';
		}

		li:last-child {
			margin-bottom: 0;
		}
	}

	li {
		@include flex( $wrap: wrap, $align: center );
	}

	li span {
		width: 20%;
		text-align: right;
		font-size: 0.7rem;
	}

	select {
		font-size: 0.9rem;
	}

	a {
		width: 80%;
		font: italic 400 0.75rem $content_font_family;
		margin-top: -3px;
		padding: 3px 0;
	}
	}

	.wp-admin	.editor-styles-wrapper	.wp-block-table.is-style-stripes {
		border: 1px solid $light;

				td {
			border: none;
			border-right: 1px solid $light;

			&:last-child {
				border-right: none;
			}
		}
	}

	.wp-admin	.editor-styles-wrapper .mce-item-table {
		width: 100%;

		th {
			font-weight: inherit;
		}

		td {
			padding: 5px;
		}
	}
