/*--------------------------------------------------------------
-- Headings --
--------------------------------------------------------------*/

.block-editor .editor-styles-wrapper h1,
.block-editor .editor-styles-wrapper h2,
.block-editor .editor-styles-wrapper h3,
.block-editor .editor-styles-wrapper h4,
.block-editor .editor-styles-wrapper h5,
.block-editor .editor-styles-wrapper h6 {
	font-family: $heading_font_family;
	font-weight: 400;
	color: $heading_color;
	margin: 15px 0;
	word-wrap: break-word;
}


.block-editor .editor-styles-wrapper h1 {
	line-height: var( --h-1-line-height, 1.3 );
	font-size: var( --h-1-font-size );
}

.block-editor .editor-styles-wrapper h2 {
	line-height: var( --h-2-line-height, 1.35 );
	font-size: var( --h-2-font-size );
}

.block-editor .editor-styles-wrapper h3 {
	line-height: var( --h-3-line-height, 1.4 );
	font-size: var( --h-3-font-size );
}

.block-editor .editor-styles-wrapper h4 {
	line-height: var( --h-4-line-height, 1.45 );
	font-size: var( --h-4-font-size );
}

.block-editor .editor-styles-wrapper h5 {
	line-height: var( --h-5-line-height, 1.45 );
	font-size: var( --h-5-font-size );
}

.block-editor .editor-styles-wrapper h6 {
	line-height: var( --h-6-line-height, 1.45 );
	font-size: var( --h-6-font-size );
}
