/*--------------------------------------------------------------
-- Footer Back To Top Button --
--------------------------------------------------------------*/

.back-to-top-button {
	position: fixed;
	bottom: 20px;
	right: -100px;
	font-size: 11px;
	width: 40px;
	height: 40px;
	padding: 0;
	z-index: 100;

	&:before {
		font-family: $font_family_awesome;
	}

	&--is-visible {
		right: 20px;
	}
}
