/*--------------------------------------------------------------
-- Footer copyright --
--------------------------------------------------------------*/

.footer-copyright {
	text-align: center;
	font-size: 0.7rem;
	margin: 10px 0;
	color: var( --footer-copyright-text-color, #c3c3c3 );

	a {
		--link-color: var( --footer-copyright-link-color, #c8c8c8 );
		--link-hover-color: var( --footer-copyright-link-hover-color, #ffffff );
		text-decoration: underline;
	}

	p {
		margin: 5px 0;
	}

	&-content {
		margin: 0;
	}
}
