/*--------------------------------------------------------------
-- Footer area --
--------------------------------------------------------------*/

.footer-area {
	padding: 20px 0;
	background-color: var( --footer-area-background, #000000 );
}
