/*--------------------------------------------------------------
-- Footer Social Media --
--------------------------------------------------------------*/

.footer-social-media {
	margin: 5px 0;

	&__list {
		@include flex( $align: center, $justify: center, $wrap: wrap );
		font: normal 400 0.75rem $content_font_family;
		text-transform: uppercase;
	}

	&__item {
		margin: 5px 12px;
	}

	&__link {
		--link-color: #c8c8c8;
		--link-hover-color: #ffffff;
	}

	&__icon {
		margin-right: 7px;
	}
}
