/*--------------------------------------------------------------
-- Footer Subscription --
--------------------------------------------------------------*/

.footer-subscription {
	background-color: $light;
	padding: var(--section-spacer) 0;
	text-align: center;

	&__wrapper {
		max-width: 600px;
		margin: 0 auto;
	}

	&__heading {
		text-transform: uppercase;
		font: normal 700 0.85rem $content_font_family;
	}

	.wpcf7 {
		input[type='text'],
		input[type='email'] {
			font-size: 0.85rem;
			text-align: center;
		}

		.wpcf7-form-control-wrap {
			display: inline-block;
			margin: 0 10px;
		}

		.cf7-wrapper {
			margin: 0 auto;

			@include from( 600 ) {
				display: flex;
			}
		}

		.wpcf7-list-item {
			display: flex;
			margin: 20px 0;
		}

		.wpcf7-list-item-label {
			font-size: 0.7rem;
			line-height: 1.3;
			display: inline-block;
		}

		.wpcf7-not-valid-tip,
		.screen-reader-response {
			display: none;
		}

		.wpcf7-validation-errors,
		.wpcf7-mail-sent-ok {
			margin-top: 20px;
			background-color: #DF1D3D;
			color: #fff;
			font-size: 14px;
			padding: 10px 20px;
		}

		.wpcf7-mail-sent-ok {
			background-color: #219126;
		}
	}
}
