/*--------------------------------------------------------------
-- Instagram gallery --
--------------------------------------------------------------*/

.instagram-gallery {
	&__link {
		display: block;
		overflow: hidden;
	}
}
