/*--------------------------------------------------------------
-- Global ( Styles that are the same for many elements ) --
--------------------------------------------------------------*/

// Wrapper.
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: var( --wrapper-width );
	padding-left: 20px;
	padding-right: 20px;
}

.front-page-portfolio__header,
.front-page-blog__header,
.front-page-testimonials__header,
.front-page-woo-products__header {
	position: relative;
	text-align: center;
	overflow: hidden;

	&:before {
		content: '';
		@include left_center( 20px );
		width: calc( 100% - 40px );
		height: 1px;
		border-top: 4px double $light;
		z-index: -1;
	}
}

.front-page-testimonials__header:before {
	border-color: $white;
	z-index: 0;
}


// Page heading.
.front-page-portfolio__heading,
.front-page-blog__heading,
.front-page-testimonials__heading,
.front-page-woo-products__heading,
.page-header-area__heading {
	font: normal 400 2rem $heading_font_family;
	letter-spacing: 1px;
	margin: 0;
	display: inline-block;
	padding: 10px 0 13px;
	z-index: 1;
	position: relative;

	@include from( 500 ) {
		font-size: 3rem;
	}

	@include from( 850 ) {
		font-size: 3.5rem;
	}

	&:before,
	&:after {
		content: '';
		@include top_left( 0, -40px );
		width: calc( 100% + 120px );
		height: 100%;
		z-index: -1;
		background-color: $very_light;
	}

	&:before {
		border-left: 40px solid $white;
		border-right: 40px solid $white;
	}

	&:after {
		width: 50%;
		background-color: $white;
	}

	.search-results &,
	.search-no-results & {
		font: normal 400 0.85rem $content_font_family;
		padding: 0;
		display: block;

		&:before,
		&:after {
			display: none;
		}
	}
}

.front-page-testimonials__heading:before {
	border-color: $very_light;
}

// Categories.
.single-post-area__categories-item,
.blog-page-posts__categories-item,
.front-page-blog__categories-item,
.front-page-slider__categories-item,
.releated-posts-area__categories-item {
	margin: 5px 5px 0 0;
	display: inline-flex;
}

.single-post-area__categories-link,
.blog-page-posts__categories-link,
.front-page-blog__categories-link,
.front-page-slider__categories-link,
.releated-posts-area__categories-link,
.single-post-area__categories-link {
	font: italic 400 0.75rem $content_font_family;
	padding: 2px 6px;
	background-color: $light;
}

// Button.
button,
input[type='reset'],
input[type='submit'],
[class*='--button'],
.wp-block-button__link,
.wp-block-file__button {
	word-break: break-word;
	border: none;
	margin: var( --button-margin );
	border-radius: var( --button-border-radius, 0 );
	padding: var( --button-padding );
	text-align: center;
	font: normal 600 0.7rem $content_font_family;
	overflow: visible;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: var( --transition-duration );
	color: var( --button-color );
	background-color: var( --button-background );

	@include hover() {
		color: var( --button-hover-color );
		background-color: var( --button-hover-background );
	}
}

[class*='--button-transparent'] {
	--button-background: transparent;
	--button-hover-background: transparent;
	--button-color: var( --link-color );
	--button-hover-color: var( --link-hover-color );
	--button-margin: 0;
	--button-padding: 0;
	--button-border-radius: 0;
}

// Image.
[class*='--covered'] {
	@include img_cover();
}

[class*='--absolute-centered'] {
	@include center_center();
	display: block;
}

// List.
.widget_archive ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_categories ul,
.widget_rss ul,
.wp-block-rss,
.wp-block-latest-posts,
[class*='--unstyled'] {
	--list-style: none;
	--list-margin: 0;
	--list-padding: 0;
	--nested-list-margin: 0;
	--nested-list-padding: 0;
}

// Wrapper.
[class*='--wrapper'],
.container {
	margin: 0 auto;
	width: 100%;
	max-width: var( --wrapper-width );
	padding-left: 20px;
	padding-right: 20px;
}

// State.
[class*='--is-hidden'] {
	@include hidden();
}

[class*='--is-visible'] {
	@include visible();
}

// Animation.
[class*='--zoom-animation'] {
	@include hover() {
		transform: scale( 1.075 );
		transition-duration: var( --transition-duration );
	}
}

// Clearing.
.page-area__container,
.page-area__content,
.page-area__container p:last-of-type,
.single-post-area__content {
	&:after {
		content: '';
		display: table;
		table-layout: fixed;
		clear: both;
	}
}

// WooCommerce stars.
.single-product-area__stars-container,
.front-page-woo-products__stars-container,
.woo-products__stars-container {
	position: relative;
	display: inline-flex;
	font-size: 8px;
	color: $medium;
}

.single-product-area__stars-icon,
.front-page-woo-products__stars-icon,
.woo-products__stars-icon {
	margin-right: 3px;
}

.single-product-area__stars-inner-container,
.front-page-woo-products__stars-inner-container,
.woo-products__stars-inner-container {
	@include top_left();
	display: inline-flex;
	overflow: hidden;
	color: black;
}
