/*--------------------------------------------------------------
-- Widget RSS --
--------------------------------------------------------------*/

.widget_rss ul,
.wp-block-rss {
	.rss-widget-icon {
		display: block;
		width: 0.75rem;
		margin-right: 5px;
		margin-top: 1px;
	}

	li {
		border: 1px dashed $light;
		padding: 30px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		text-decoration: underline;
		display: block;
		margin-top: -6px;
	}

	.rss-date,
	.wp-block-rss__item-publish-date,
	.wp-block-rss__item-author {
		font-style: normal;
		font-size: 0.65rem;
		font-style: italic;
	}

	.rssSummary,
	.wp-block-rss__item-excerpt {
		padding-top: 4px;
		font-size: 0.85rem;
	}

	cite {
		text-decoration: underline;
		font-size: 0.65rem;
		text-align: right;
		display: block;
		margin-top: 5px;
		margin-bottom: -3px;

		&:before {
			content: '- ';
		}
	}
}
