/*--------------------------------------------------------------
-- Widget Recent Comments --
--------------------------------------------------------------*/

.widget_recent_comments {
	.recentcomments {
		margin: 8px 0;

		&:first-child {
			margin-top: -5px;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: -5px;
		}
	}

	a {
		text-decoration: underline;
	}
}
