/*--------------------------------------------------------------
-- Widget Video --
--------------------------------------------------------------*/

.widget_media_video {
	.wp-video .wp-video-shortcode {
		width: 100%;
	}
}
