/*--------------------------------------------------------------
-- Widget Meta --
--------------------------------------------------------------*/

.widget_meta {
	li {
		margin: 5px 0;

		&:first-child {
			margin-top: -5px;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: -5px;
		}
	}

	a {
		padding: 0;
		display: block;
		text-decoration: underline;
	}
}
