/*--------------------------------------------------------------
-- Widget Tags --
--------------------------------------------------------------*/

.widget_tag_cloud {
	.tagcloud {
		margin: -5px 0 -6px;
	}

	a {
		padding: 0 5px 5px 0;

		&:before {
			content: '#';
			font-size: 0.65em;
			margin-right: 2px;
		}
	}

	.tag-link-count {
		font-size: 0.8em;
		display: inline-block;
		margin-left: 3px;
		transform: translateY( -1px );
	}
}
