/*--------------------------------------------------------------
-- Widget Thumbnail Recent Posts --
--------------------------------------------------------------*/

.widget-latest-posts {
	&__list {
		@include between( 550, 749 ) {
			@include flex( $wrap: wrap, $justify: space-between );
		}
	}

	&__item {
		position: relative;
		margin: 0 0 30px;

		@include between( 550, 749 ) {
			width: 48%;	
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		padding: 0;
		width: 100%;
	}

	&__img-container {
		height: 150px;
		background-color: $light;
	}

	&__content-container {
		width: calc( 100% - 20px );
		margin: -75px auto 0;
		position: relative;
		padding: 30px;
		border: 1px solid $light;
		background-color: $white;
	}

	&__gallery-icon {
		width: 25px;
		height: 25px;
		font-size: 10px;
		@include top_right( 0, 10px );
		transform: translateY( -50% );
		@include flex( $align: center, $justify: center );
		background-color: $very_dark;
		color: $white;

		&:before {
			font-family: $font_family_awesome;
		}
	}

	&__title {
		font: normal 700 1.2rem $heading_font_family;
		margin: -7px 0 13px;
		padding-bottom: 15px;
		line-height: 1.3;
		border-bottom: 1px solid $light;
	}

	&__excerpt {
		margin: 10px 0 12px;
		font-size: 0.85rem;
	}

	&__date {
		display: block;
		font-size: 0.65rem;
		margin-bottom: -4px;
	}

	&__date-text {
		text-decoration: underline;
	}

	&__date-icon {
		color: $dark;
		margin-right: 5px;
	}
}
