/*--------------------------------------------------------------
-- Widget Text --
--------------------------------------------------------------*/

.widget_text .textwidget {
	p, img {
		margin: 10px 0;
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	p:empty {
		display: none;
	}

	ul, ol {
		margin-left: 0;
		padding-left: 10px;
	}

	> ul {
		padding-left: 0;
	}

	ol {
		padding-left: 15px;
	}

	.wp-caption-text {
		padding: 0 5px 5px 5px;
		margin-top: -10px;
		font-size: 0.75rem;
	}

	form {
		margin: 10px 0;
	}

	form:last-child {
		margin-bottom: 0;
	}

	select {
		font-size: 0.9rem;
	}
}
