/*--------------------------------------------------------------
-- Widget Instagram --
--------------------------------------------------------------*/

.widget-instagram {
	position: relative;

	&__gallery {
		margin: -1px;
		@include flex( $wrap: wrap );
	}

	&__item {
		padding: 0;
		overflow: hidden;
		margin: 1px;

		[class*='__gallery--col-1'] & {
			width: 100%;
		}

		[class*='__gallery--col-2'] & {
			width: calc( 100% / 2 - 2px );
		}

		[class*='__gallery--col-3'] & {
			width: calc( 100% / 3 - 2px );
		}

		[class*='__gallery--col-4'] & {
			width: calc( 100% / 4 - 2px );
		}
	}
}
