/*--------------------------------------------------------------
-- Widget Archive --
--------------------------------------------------------------*/

.widget_archive ul,
.wp-block-archives.wp-block-archives-list {
	&:not( .children ) {
		> li:first-of-type,
		> li:first-of-type > a {
			padding-top: 0;
		}

		> li:last-of-type,
		> li:last-of-type > a {
			border: none;
			padding-bottom: 0;

			span.post-date {
				margin-bottom: 0;
			}
		}
	}		

	li {
		@include flex( $justify: space-between, $align: center );
		margin: 8px 0;
		padding-bottom: 7px;
		border-bottom: 1px dashed $light;
		font-size: 0.8rem;

		&:first-child {
			margin-top: -5px;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: -5px;
			border: none;
		}
	}

	a {
		display: inline-block;
		padding: 0;
		text-transform: uppercase;

		&:before {
			content: '\f073';
			font-family: 'Font Awesome 5 Free';
			margin-right: 8px;
			font-size: 0.7rem;
			color: $dark;
		}
	}

	select {
		margin-top: 5px;
		font-size: inherit;
	}	
}
