/*--------------------------------------------------------------
-- Widget Calendar --
--------------------------------------------------------------*/

.widget_calendar,
.wp-block-calendar {
	font-size: 0.8rem;

	table {
		border-spacing: 0;
		margin: 0;
	}

	caption {
		padding: 10px 5px;
		border-bottom: none;
	}

	thead th,
	tbody td  {
		text-align: center;
		padding: 5px 0;
		font-weight: inherit;
	}

	tbody td {
		font-size: 0.8rem;
	}

	tbody td a {
		padding: 0;
	}

	tfoot {
		td {
			&#prev {
				text-align: right;
				border-right: none;
				padding: 5px 0;

				a {
					text-decoration: underline;
				}
			}

			&.pad {
				border-right: none;
				border-left: none;
				padding: 5px 0;
			}

			&#next {
				text-align: left;
				border-left: none;
				border-radius: 0;
				padding: 5px 0;

				a {
					text-decoration: underline;
				}
			}
		}
	}
}
