/*--------------------------------------------------------------
-- Widget Popular Posts --
--------------------------------------------------------------*/

.widget-popular-posts {
	&__list {
		@include from( 600 ) {
			@include flex( $justify: space-between );
		}

		@include from( 750 ) {
			display: block;
		}
	}

	&__item {
		position: relative;
		margin: 0 0 30px;

		@include from( 600 ) {
			width: 48%;
		}

		@include from( 750 ) {
			width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		padding: 30px;
		border: 1px solid $light;
		text-align: center;
		overflow: hidden;
	}

	&__num {
		font: normal 700 1.5rem $heading_font_family;
		line-height: 1;
		color: $medium;
		display: inline-block;
		margin: -8px 0 14px;
		position: relative;
		padding: 0 10px;
		background-color: $white;

		&:before,
		&:after {
			content: '';
			@include center_center();
			height: 1px;
			width: 150px;
			z-index: -1;
			border-bottom: 1px dashed $light;
			margin-top: 4px;
		}
	}

	&__title {
		margin: -5px 0 9px;
		font: normal 700 1.2rem $heading_font_family;
	}

	&__excerpt {
		margin: 0 0 2px;
		font-size: 0.85rem;
		color: $content_color;
	}

	&__details-container {
		margin-bottom: -5px;
	}

	&__views,
	&__comments {
		font-size: 0.65rem;
		display: inline-block;
		text-decoration: underline;
	}

	&__views-icon {
		color: $dark;
		margin-right: 5px;
		font-size: 0.65rem;
	}
}
