/*--------------------------------------------------------------
-- Widget Recent Entries --
--------------------------------------------------------------*/

.widget_recent_entries,
.wp-block-latest-posts {
	li {
		margin: 8px 0;

		&:first-child {
			margin-top: -5px;
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: -5px;
		}
	}

	&.is-grid li:first-child,
	&.is-grid li:last-child {
		margin-top: 0;
		margin-bottom: 0;	
	}

	a {
		width: 100%;
		display: block;
		padding: 0;
		text-decoration: underline;
	}

	.post-date {
		font-size: 0.7rem;
		display: block;
	}
}
