/*--------------------------------------------------------------
-- Widget Pages --
--------------------------------------------------------------*/

.widget_pages {
	> ul > li:first-child a {
		padding-top: 0;
	}

	> ul > li:last-child a {
		border-bottom: none;
		padding-bottom: 0;
	}

	li {
		margin: 0;
	}

	> ul > li {
		border-bottom: 1px dashed $light;
		padding: 8px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	a {
		text-transform: uppercase;
		font-size: 0.75rem;
		display: flex;

		&:after {
			content: '\f0c1';
			font-family: 'Font Awesome 5 Free';
			font-size: 0.7rem;
			color: $dark;
			margin-left: auto;
		}
	}

	ul.children {
		padding-left: 10px;
		width: 100%;

		a {
			padding: 2px 0;
		}

		a:before {
			content: '- ';
		}
	}
}
