/*--------------------------------------------------------------
-- Widget Gallery --
--------------------------------------------------------------*/

.widget_media_gallery,
.widget_media_image {
	.wp-caption-text {
		font-size: 0.7rem;
		padding: 5px;
	}

	a {
		display: block;
		padding: 0;
	}

	img {
		display: block;
		border-radius: 0;
		width: 100%;
	}
}
