/*--------------------------------------------------------------
-- Widget Recent Portfolio --
--------------------------------------------------------------*/

.widget-latest-albums {
	&__list {
		@include between( 550, 749 ) {
			@include flex( $wrap: wrap );
			margin: -10px;
		}
	}

	&__content-container {
		padding: 30px;
	}

	&__item {
		margin: 0 0 10px;

		@include between( 550, 749 ) {
			margin: 10px;
			width: calc( 50% - 20px );
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
