/*--------------------------------------------------------------
-- Widget Categories --
--------------------------------------------------------------*/

.widget_categories ul,
.wp-block-categories.wp-block-categories-list {
	--nested-list-margin: 0;
	--nested-list-padding: 0;

	&:not(.children) > li {
		border-bottom: 1px dashed $light;
		padding: 5px 0;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	
	ul.children {
		margin-left: 10px;
		width: 100%;

		li {
			margin: 4px 0;
		}

		a:before {
			content: '- ';
		}

		li:last-child {
			margin-bottom: 0;
		}
	}

	li {
		@include flex( $wrap: wrap, $align: center );
	}

	li span {
		width: 10%;
		text-align: right;
		font-size: 0.7rem;
	}

	select {
		font-size: 0.9rem;
	}

	a {
		width: 90%;
		font: italic 400 0.75rem $content_font_family;
		margin-top: -3px;
		padding: 3px 0;
	}
}
