/*--------------------------------------------------------------
-- Widget --
--------------------------------------------------------------*/

.widget {
	margin-top: 30px;
	width: 100%;
	font-size: 0.9rem;

	&:first-child {
		margin-top: 0;
	}

	&__title {
		font: normal 600 0.7rem $content_font_family;
		text-transform: uppercase;
		margin: 0 0 30px 0;
		padding: 0;
		text-align: center;
		width: 100%;
		position: relative;

		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $light;
			transform: translateY( -50% );
			z-index: 0;
		}

		&:before {
			top: 0;
			bottom: auto;
			left: -1px;
			width: calc( 100% + 2px );
			height: calc( 50% - 1px );
			background-color: $white;
		}

		span {
			border: 1px solid $light;
			padding: 10px 20px;
			display: inline-flex;
			align-items: center;
			background-color: $white;
			max-width: calc( 100% - 40px );
			z-index: 1;
			position: relative;
		}
	}
}
