/*--------------------------------------------------------------
-- Widget Nav Menu --
--------------------------------------------------------------*/

.widget_nav_menu {
	.menu {
		margin-top: -7px;

		> li:first-child a {
			padding-top: 0;
		}
	}

	.sub-menu {
		margin-left: 10px;

		a:before {
			content: '- ';
		}
	}

	li a:empty:before {
		display: none;
	}

	div > ul > li {
		border-bottom: 1px dashed $light;
		padding: 8px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}
