/*--------------------------------------------------------------
-- Primary header --
--------------------------------------------------------------*/

.primary-header {
	--list-style: none;
	--list-margin: 0;
	--list-padding: 0;
	--nested-list-margin: 0;
	--nested-list-padding: 0;
	--link-color: #939393;
	--link-hover-color: #000000;

	width: 100%;
	background-color: #000000;
	font-family: $content_font_family;

	.no-featured-image & {
		position: relative;
		padding-bottom: 5px;
	}
}
