/*--------------------------------------------------------------
-- Primary header mobile --
--------------------------------------------------------------*/

.primary-header-mobile {
	--button-font-size: 0.7rem;
	--button-padding: 0;
	--button-background: transparent;
	--button-hover-background: transparent;
	--button-color: #929292;
	--button-hover-color: #ffffff;
	--link-color: #929292;
	--link-hover-color: #ffffff;

	@include flex( $align: center, $direction: column );
	@include hidden();
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 100;
	width: 100%;
	height: 100%;
	transition-duration: var( --transition-duration );
	background-color: #000000;

	@include from( 500 ) {
		justify-content: center;
	}

	&.active {
		left: 0;
		@include visible();
	}

	&__container {
		padding: 20px 20px 50px;
		width: 100%;
		overflow: scroll;

		.admin-bar & {
			padding-top: 66px;
		}

		@include from( 400 ) {
			padding: 50px;

			.admin-bar & {
				padding-top: 96px;
			}
		}

		@include from( 500 ) {
			padding: 100px 25%;

			.admin-bar & {
				padding-top: 146px;
			}
		}

		@include from( 783 ) {
			.admin-bar & {
				padding-top: 132px;
			}
		}
	}

	&__hide-btn {
		@include hidden();
		padding: 0 10px 10px 0;
		margin-bottom: 18px;
		font-size: 14px;

		@include from( 500 ) {
			margin-bottom: 26px;
		}

		.active & {
			@include visible();
			left: 0;
			transition-delay: 1s;

			@include from( 500 ) {
				left: 25px;
			}
		}
	}

	&-nav__container {
		width: 100%;
		transform: translateX( -30px );
		transition-duration: var( --transition-duration );
		@include hidden();

		.active & {
			@include visible();
			transform: none;
			transition-delay: 0.5s;
		}
	}

	&-nav__list {
		font-weight: 400;
	}

	&-nav__item {
		@include flex( $wrap: wrap, $align: center );
		margin: 0;

		&.primary-nav-item-depth-0:first-child > .primary-nav-link {
			padding-top: 0;
		}

		&.primary-nav-item-depth-0:last-child > .primary-nav-link {
			padding-bottom: 0;
		}		
	}

	&-nav__link {
		padding: 5px 0;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		width: calc( 100% - 30px );
		word-break: break-word;

		.primary-header-mobile-nav__item--active > & {
			--link-color: #ffffff;
			--link-hover-color: #ffffff;
		}

		.primary-header-desktop-nav__item--parent & {
			padding-right: 20px;
		}

		@include from( 500 ) {
			font-size: 1.15rem;
		}
	}

	&-nav__btn,
	&-nav__sub-menu__btn {
		text-align: right;
		height: 100%;
		padding: 5px 0;
		width: 30px;
	}

	&-nav__sub-menu {
		display: none;
		z-index: 2;
		width: 100%;
		margin: 10px 0 10px 10px;

		&.dropdown-active {
			display: block;
		}
	}

	&-nav__sub-menu-item {
		margin: 0;
		@include flex( $wrap: wrap, $align: center );
	}

	&-nav__sub-menu__link {
		padding: 5px 0;
		text-transform: uppercase;
		letter-spacing: 0;
		font-size: 0.9rem;
		line-height: 1.4;
		width: calc( 100% - 30px );
		word-break: break-word;

		.primary-header-mobile-nav__item--active & {
			--link-color: #ffffff;
			--link-hover-color: #ffffff;
		}

		.primary-header-desktop-nav__item--parent & {
			padding-right: 20px;
		}
	}

	&-nav__sub-menu__btn-icon {
		transform: rotate( 90deg );
	}

	&-icons__social-media-list {
		@include flex( $wrap: wrap, $align: center );
		@include hidden();
		transform: translateY( 30px );
		transition-duration: var( --transition-duration );
		margin-top: 30px;
		padding-top: 30px;

		@include from( 500 ) {
			margin-top: 40px;
			padding-top: 40px;		
		}

		@include pseudo_before( $top: 0, $left: 0, $width: 10px, $height: 1px, $background: #000000 );

		.active & {
			@include visible();
			transform: none;
			transition-delay: 0.5s;
		}
	}

	&-icons__social-media-item {
		margin: 0;

		&:last-child .primary-header-mobile-icons__social-media-link {
			padding-right: 0;
		}
	}

	&-icons__social-media-link {
		font-size: 14px;
		padding-right: 20px;
	}
}
