/*--------------------------------------------------------------
-- Primary header identity --
--------------------------------------------------------------*/

.primary-header-identity {
	text-align: center;
	padding-top: var( --section-spacer );
	padding-bottom: var( --section-spacer );

	&__link {
		display: block;
	}

	&__logo {
		margin: -11px 0 0;
		font: normal 400 2rem $heading_font_family;
		letter-spacing: 2px;
		line-height: 1.3;
		text-align: center;
		color: #ffffff;

		@include from( $breakpoint_sm ) {
			font-size: 3rem;
			margin-top: -17px;
		}

		@include from( $breakpoint_m ) {
			font-size: 3.5rem;
			margin-top: -20px;
		}

		.no-tagline & {
			margin: 0;
		}

		@include hover() {
			color: #ffffff;
		}
	}

	&__logo-img {
		margin: 0;

		img {
			display: block;
			width: 100px;
			margin: 0 auto;

			@include from( $breakpoint_sm ) {
				width: 150px;
			}

			@include from( $breakpoint_m ) {
				width: 200px;
			}
		}
	}

	&__tagline {
		margin: 0 0 -3px;
		text-align: center;
		font: normal 300 0.7rem $content_font_family;
		color: #CECECE;

		@include from( $breakpoint_sm ) {
			font-size: 0.75rem;
		}
	}
}
