/*--------------------------------------------------------------
-- Primary header desktop --
--------------------------------------------------------------*/

.primary-header-desktop {
	background-color: #ffffff;

	&__container {
		@include flex( $justify: space-between );
	}

	&__show-btn {
		--button-padding: 0;
		--button-background: transparent;
		--button-hover-background: transparent;
		--button-color: #939393;
		--button-hover-color: #000000;

		&.no-kirki {
			@include from( 900 ) {
				display: none;
			}
		}
	}

	&__show-btn-icon {
		@include flex( $align: center );
		font-size: 15px;
		width: 50px;
		height: 50px;
	}
}
