/*--------------------------------------------------------------
-- Primary header icons --
--------------------------------------------------------------*/

.primary-header-desktop-icons {
	@include flex( $align: center );
	margin-left: auto;

	&__social-media-list {
		display: none;

		&.no-kirki {
			@include from( 900 ) {
				display: block;
			}
		}
	}

	&__social-media-item {
		display: inline-block;
		margin: 0;

		&:last-child .primary-header-desktop-icons__social-media-link {
			padding-right: 0;
		}
	}

	&__social-media-link {
		@include flex( $align: center );
		padding: 20px 15px 20px 0;
		font-size: 12px;
	}

	&__search-show-btn {
		--button-padding: 0 0 0 20px;
		--button-background: transparent;
		--button-hover-background: transparent;
		--button-color: #939393;
		--button-hover-color: #000000;

		@include pseudo_before( $top: 50%, $left: 10px, $width: 10px, $height: 1px, $background: #f2f2f2 ) {
			display: none;
			@include hidden();
		}

		&.line {
			padding-left: 42px;
			margin-left: 12px;

			&:before {
				@include visible();
			}
		}

		.no-kirki & {
			&:before {
				display: block;
			}
		}
	}

	&__search-show-btn-icon {
		@include flex( $align: center );
		font-size: 12px;
		height: 50px;
	}

	&__search-hide-btn {
		--button-padding: 0;
		--button-background: transparent;
		--button-hover-background: transparent;
		--button-color: $heading_color;
		width: 100%;

		.visible & {
			transition-delay: 1s;
			@include visible();
		}
	}

	&__search-hide-btn-icon {
		display: block;
		font-size: 12px;
		padding: 10px 0;

		@include from( 600 ) {
			padding: 20px 0;
		}
	}

	&__search-container {
		@include flex( $align: center, $direction: column );
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 9999999;
		width: 100%;
		transition-duration: var( --transition-duration );
		background-color: $white;
		border-bottom: 1px solid $light;

		@include from( $breakpoint_m ) {
			justify-content: center;
		}

		&.visible {
			top: 0;
			@include visible();
		}
	}

	&__search-inner-container {
		margin: 20px auto;
		padding: 5px 20px 20px;
		border: 1px solid $light;

		@include from( 800 ) {
			padding: 20px 100px 35px;
		}

		@include from( 1200 ) {
			margin: 50px auto;
			padding: 35px 200px 50px;
		}

		.search-form {
			max-width: 100%;
			margin-top: 15px;
			@include hidden();
			transform: translateY( 30px );
			transition-duration: var( --transition-duration );
			display: block;

			@include from( 600 ) {
				display: flex;
				margin-top: 25px;
			}

			@include from( 800 ) {
				margin-top: 30px;
			}

			.visible & {
				@include visible();
				transform: none;
				transition-delay: 0.75s;
			}

			&__field {
				padding: 10px;
				background-color: $very_light;
				border: 1px solid $light;

				@include from( 600 ) {
					padding: 15px;
				}
			}

			&__button {
				width: 100%;
				margin-top: 5px;

				@include from( 600 ) {
					padding: 15px 30px;
					width: auto;
					margin-top: 0;
				}
			}
		}
	}

	&__search-heading {
		margin: 0;
		padding-bottom: 10px;
		font: normal 400 1.2rem $heading_font_family;
		text-align: center;
		transform: translateY( -30px );
		transition-duration: var( --transition-duration );
		position: relative;

		&:before {
			content: '';
			@include bottom_center();
			width: 10px;
			height: 1px;
			background-color: $medium;
		}

		@include from( 600 ) {
			font-size: 1.5rem;
			padding-bottom: 20px;
		}

		@include from( 800 ) {
			font-size: 2.1rem;
		}

		.visible & {
			@include visible();
			transform: none;
			transition-delay: 0.75s;
		}
	}
}
