/*--------------------------------------------------------------
-- Primary header desktop nav --
--------------------------------------------------------------*/

.primary-header-desktop-nav {
	--button-padding: 0;
	--button-background: transparent;
	--button-hover-background: transparent;
	--button-color: #939393;
	--button-hover-color: #000000;

	display: none;

	&.no-kirki {
		@include from( 900 ) {
			display: block;
		}
	}

	&__list {
		@include flex( $wrap: wrap );
		font-weight: 400;
	}

	&__item {
		display: flex;
		position: relative;
		margin: 0;
		max-width: 350px;
		word-break: break-word;

		&:first-child .primary-header-desktop-nav__link {
			padding-left: 0;
		}

		&--parent > .primary-header-desktop-nav__link {
			position: relative;

			&:after {
				content: '';
				@include bottom_left( -4px );
				width: 0;
				height: 1px;
				transition-duration: var( --transition-duration );
				opacity: 0.2;
			}
		}

		@include hover() {
			> .primary-header-desktop-nav__sub-menu {
				@include visible();
				transition-duration: var( --transition-duration );
			}

			> .primary-header-desktop-nav__sub-menu--1 {
				padding-top: 10px;
			}
		}
	}

	&__link {
		@include flex( $align: center );
		padding: 30px 20px;
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 0.5px;

		.primary-header-desktop-nav__item--active & {
			color: #000000;
		}

		.primary-header-desktop-nav__item--parent & {
			padding-right: 30px;
		}
	}

	&__btn {
		@include right_center( 15px );
		padding: 0;
		margin-top: -2px;
	}

	&__btn-icon {
		transition-duration: var( --transition-duration );
		font-size: 0.5rem;
	}

	&__sub-menu {
		@include hidden();
		@include top_left( $left: 100% );
		z-index: 2;
		width: inherit;
		width: 200px;

		&--1 {
			@include top_left( $top: 100% );
			padding-top: 20px;
		}

		&--out-of-screen,
		[class*='--out-of-screen'] & {
			left: auto;
			right: 100%;
		}

		.primary-header-desktop-nav__sub-menu {
			top: -6px;
		}

		.primary-header-desktop-nav__sub-menu-item:first-child .primary-header-desktop-nav__sub-menu {
			top: 0;
		}
	}

	&__sub-menu-item {
		padding: 0 20px;
		margin: 0;
		background-color: #f9f9f9;
		position: relative;

		&:first-child > .primary-header-desktop-nav__sub-menu__link {
			padding-top: 16px;
		}

		&:last-child > .primary-header-desktop-nav__sub-menu__link {
			padding-bottom: 16px;
			border: none;
		}

		&:last-child > .primary-header-desktop-nav__sub-menu__btn {
			margin-top: -4px;
		}

		@include hover() {
			> .primary-header-desktop-nav__sub-menu {
				@include visible();
				transition-duration: var( --transition-duration );
			}
		}
	}

	&__sub-menu__link {
		display: block;
		width: 100%;
		max-width: 200px;
		word-break: break-word;
		padding: 10px 0;
		letter-spacing: 0;
		text-transform: uppercase;
		font-size: 0.7rem;
		line-height: 1.4;
		border-bottom: 1px solid #f2f2f2;

		.primary-header-desktop-nav__item--active > & {
			color: #000000;
		}

		.primary-header-desktop-nav__item--parent > & {
			padding-right: 20px;
		}
	}

	&__sub-menu__btn {
		@include right_center( 20px );
		padding: 0;
	}

	&__sub-menu__btn-icon {
		font-size: 0.45rem;

		[class*='--out-of-screen'] &,
		[class*='--out-of-screen-parent'] & {
			transform: rotate( 180deg );
		}
	}
}

.primary-header-desktop-nav__item--452 .primary-header-desktop-nav__sub-menu {
	// @include visible();
}