/*--------------------------------------------------------------
-- Gutenberg button block --
--------------------------------------------------------------*/

.wp-block-button {
	margin-top: 30px;
	margin-bottom: 30px;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}

	&.is-style-full-width {
		width: 100%;

		.wp-block-button__link {
			width: 100%;
		}
	}
}
