/*--------------------------------------------------------------
-- Gutenberg columns block --
--------------------------------------------------------------*/

.wp-block-columns {
	@include flex( $wrap: wrap );

	@include from(782) {
		flex-wrap: nowrap;
	}
}

.wp-block-column {
	flex-grow: 1;
	flex-basis: 100%;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;

	@include from(600) {
		flex-basis: calc(50% - 16px);
		flex-grow: 0;

		&:nth-child(even) {
			margin-left: 32px;
		}
	}

	@include from(782) {
		&:not(:first-child) {
			margin-left: 32px;
		}
	}
}
