/*--------------------------------------------------------------
-- Gutenberg calendar block --
--------------------------------------------------------------*/

.wp-block-calendar {
	margin-top: 30px;
	margin-bottom: 30px;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 300px;
		width: 100%;
	}
}
