/*--------------------------------------------------------------
-- Gutenberg categories block --
--------------------------------------------------------------*/

.wp-block-categories.wp-block-categories-list {
	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 300px;
		width: 100%;
	}
}