/*--------------------------------------------------------------
-- Gutenberg archives block --
--------------------------------------------------------------*/

.wp-block-archives.wp-block-archives-list {
	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 300px;
		width: 100%;
	}
}
