/*--------------------------------------------------------------
-- Gutenberg latest posts block --
--------------------------------------------------------------*/

.wp-block-latest-posts.alignleft {
	/*rtl:ignore*/
	margin-right: 2em;
}

.wp-block-latest-posts.alignright {
	/*rtl:ignore*/
	margin-left: 2em;
}

.wp-block-latest-posts.is-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

	.wp-block-latest-posts.is-grid li {
		margin: 0 8px 8px 0;
		width: 100%; }

@media (min-width: 600px) {
	.wp-block-latest-posts.columns-2 li {
		width: calc((100% / 2) - 8px); }
	.wp-block-latest-posts.columns-3 li {
		width: calc((100% / 3) - 8px); }
	.wp-block-latest-posts.columns-4 li {
		width: calc((100% / 4) - 8px); }
	.wp-block-latest-posts.columns-5 li {
		width: calc((100% / 5) - 8px); }
	.wp-block-latest-posts.columns-6 li {
		width: calc((100% / 6) - 8px);
	}
}

.wp-block-latest-posts__post-date {
	display: block;
	font-size: 0.75rem;
}
