/*--------------------------------------------------------------
-- Gutenberg audio block --
--------------------------------------------------------------*/

.wp-block-audio figcaption {
	color: $content_color;
	text-align: center;
	font-size: 0.75rem;
}

.wp-block-audio audio {
	width: 100%;
	min-width: 300px;
	background-color: #f1f3f4;
}
