/*--------------------------------------------------------------
-- Gutenberg rss block --
--------------------------------------------------------------*/

.wp-block-rss.alignleft {
	/*rtl:ignore*/
	margin-right: 2em;
}

.wp-block-rss.alignright {
	/*rtl:ignore*/
	margin-left: 2em;
}

.wp-block-rss.is-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
}

.wp-block-rss__item {
	margin: 0 0 16px 16px;
}

@media (min-width: 600px) {
	.wp-block-rss.columns-2 li {
		width: calc(( 100% / 2 ) - 16px); }
	.wp-block-rss.columns-3 li {
		width: calc(( 100% / 3 ) - 16px); }
	.wp-block-rss.columns-4 li {
		width: calc(( 100% / 4 ) - 16px); }
	.wp-block-rss.columns-5 li {
		width: calc(( 100% / 5 ) - 16px); }
	.wp-block-rss.columns-6 li {
		width: calc(( 100% / 6 ) - 16px); } }
