/*--------------------------------------------------------------
-- Gutenberg pullquote block --
--------------------------------------------------------------*/

.wp-block-pullquote {
  padding: 50px 30px;
  margin-left: 0;
  margin-right: 0;
}
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    max-width: 300px; }
    .wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
      font-size: 20px; }

.wp-block-pullquote {
	border-top: 4px solid $very_dark;
	border-bottom: 4px solid $very_dark;
	text-align: center;

	blockquote {
		max-width: 90%;
		margin: 20px auto;
		padding-left: 0;
		border-left: none;
	}

	p {
		margin-top: -8px;
		font-size: 1.4rem;
		text-align: center;
	}

	cite {
		text-transform: uppercase;
		text-align: center;
		display: block;
	}
}

.wp-block-pullquote.is-style-solid-color {
	border: none;
	background-color: $very_light;
}
