/*--------------------------------------------------------------
-- Gutenberg file block --
--------------------------------------------------------------*/

.wp-block-file {
	border: 2px dashed $light;
	padding: 30px;
	margin: 30px 0;
	text-align: center;

	&__button {
		display: table;
		margin: 10px auto 0;
	}
}
