/*--------------------------------------------------------------
-- Gutenberg search block --
--------------------------------------------------------------*/

.wp-block-search {
	@include flex( $wrap: wrap );

	&__label {
		width: 100%;
	}

	&__input[type='search'] {
		width: calc(100% - 45px);
	}

	&__button {
		font-size: 0;
		position: relative;
		width: 45px;

		&:before {
			content: '\f002';
			font-family: $font_family_awesome;
			font-size: 11px;
		}
	}
}
