/*--------------------------------------------------------------
-- Gutenberg separator block --
--------------------------------------------------------------*/

.wp-block-separator {
	width: 100px;

	&.is-style-wide {
		width: 100%;
	}

	&.is-style-dots {
		border: none;
		line-height: 0.2;
		height: auto;
		text-align: center;

		&:before {
			content: '\f141';
			font-size: 14px;
			font-family: $font_family_awesome;
			color: $dark;
			letter-spacing: 10px;
		}
	}
}
