/*--------------------------------------------------------------
-- Gutenberg quote block --
--------------------------------------------------------------*/

.wp-block-quote {
	background-color: $very_light;
	border-left: 4px solid $very_dark;
	padding: 20px;
	font-size: 1.1rem;
	font-style: normal;

	p {
		margin-bottom: 12px;
	}

	@include from( 500 ) {
		padding: 30px;
	}

	@include from( 700 ) {
		padding: 50px;
	}

	cite {
		text-align: inherit;
		font-size: 0.8rem;
	}

	&.is-style-large p,
	&.is-large p {
		font-size: 1.4rem;
		font-style: normal;
	}
}
