/*--------------------------------------------------------------
-- Gutenberg latest comments block --
--------------------------------------------------------------*/

.wp-block-latest-comments__comment {
	font-size: 15px;
	line-height: 1.1;
	list-style: none;
	margin-bottom: 1em;
}

.has-avatars .wp-block-latest-comments__comment {
	min-height: 36px;
	list-style: none;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
	margin-left: 52px;
}

.has-dates .wp-block-latest-comments__comment,
.has-excerpts .wp-block-latest-comments__comment {
	line-height: 1.5;
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: 14px;
	line-height: 1.8;
	margin: 5px 0 20px;
}

.wp-block-latest-comments__comment-date {
	color: #8f98a1;
	display: block;
	font-size: 12px;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	border-radius: 24px;
	display: block;
	float: left;
	height: 40px;
	margin-right: 12px;
	width: 40px;
}
