/*--------------------------------------------------------------
-- Gutenberg table block --
--------------------------------------------------------------*/

.wp-block-table.has-fixed-layout {
	table-layout: fixed;
	width: 100%;
}

.wp-block-table.alignleft, .wp-block-table.aligncenter, .wp-block-table.alignright {
	display: table;
	width: auto;
}

.wp-block-table.has-subtle-light-gray-background-color {
	background-color: #f3f4f5;
}

.wp-block-table.has-subtle-pale-green-background-color {
	background-color: #e9fbe5; }

.wp-block-table.has-subtle-pale-blue-background-color {
	background-color: #e7f5fe; }

.wp-block-table.has-subtle-pale-pink-background-color {
	background-color: #fcf0ef; }

.wp-block-table.is-style-stripes {
	border-spacing: 0;
	border-collapse: inherit;
	background-color: transparent;
}
	.wp-block-table.is-style-stripes tr:nth-child(odd) {
		background-color: #f3f4f5; }
	.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tr:nth-child(odd) {
		background-color: #f3f4f5; }
	.wp-block-table.is-style-stripes.has-subtle-pale-green-background-color tr:nth-child(odd) {
		background-color: #e9fbe5; }
	.wp-block-table.is-style-stripes.has-subtle-pale-blue-background-color tr:nth-child(odd) {
		background-color: #e7f5fe; }
	.wp-block-table.is-style-stripes.has-subtle-pale-pink-background-color tr:nth-child(odd) {
		background-color: #fcf0ef; }

			.wp-block-table.is-style-stripes {
		border-color: $medium;

		td {
			border: none;
			border-right: 1px solid $medium;

			&:last-child {
				border-right: none;
			}
		}
	}
