/*--------------------------------------------------------------
-- Gutenberg video block --
--------------------------------------------------------------*/

.wp-block-video {
  margin-left: 0;
  margin-right: 0; }
  .wp-block-video video {
    max-width: 100%; }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .wp-block-video [poster] {
      -o-object-fit: cover;
         object-fit: cover; } }
  .wp-block-video.aligncenter {
    text-align: center; }
  .wp-block-video figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px; }
