/*--------------------------------------------------------------
-- Animations --
--------------------------------------------------------------*/

.animated {
	animation-duration: 500ms;
	animation-fill-mode: both;
}

.owl-animated-out {
	z-index: 1;
}

.owl-animated-in {
	z-index: 0;
}

.anim-fade-in {
	animation-name: fadeIn;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}  
	to {
		opacity: 1;
	}  
}

.anim-fade-in-up {
	animation-name: fadeInUp;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY( 30px );
	}  
	to {
		opacity: 1;
		transform: translateY( 0 );
	}  
}

.anim-fade-in-down {
	animation-name: fadeInDown;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY( -30px );
	}  
	to {
		opacity: 1;
		transform: translateY( 0 );
	}  
}

.anim-fade-in-left {
	animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX( -30px );
	}  
	to {
		opacity: 1;
		transform: translateX( 0 );
	}  
}

.anim-fade-in-right {
	animation-name: fadeInRight;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX( 30px );
	}  
	to {
		opacity: 1;
		transform: translateX( 0 );
	}  
}

.anim-zoom-in {
	animation-name: zoomIn;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale( 0.9 );
	}  
	to {
		opacity: 1;
		transform: scale( 1 );
	}  
}

/*--------------------------------------------------------------
# Fade out
--------------------------------------------------------------*/

.anim-fade-out  {
	animation-name: fadeOut;
}  

@keyframes fadeOut {
	from {
		opacity: 1;
	}  
	to {
		opacity: 0;
	}  
}

.anim-fade-out-down {
	animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: translateY( 0 );
	}  
	to {
		opacity: 0;
		transform: translateY( 30px );
	}  
}

.anim-fade-out-up {
	animation-name: fadeOutUp;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: translateY( 0 );
	}  
	to {
		opacity: 0;
		transform: translateY( -30px );
	}  
}

.anim-fade-out-left {
	animation-name: fadeOutLeft;
}

@keyframes fadeOutLeft {
	from {
		opacity: 1;
		transform: translateX( 0 );
	}  
	to {
		opacity: 0;
		transform: translateX( -30px );
	}  
}

.anim-fade-out-right {
	animation-name: fadeOutRight;
}

@keyframes fadeOutRight {
	from {
		opacity: 1;
		transform: translateX( 0 );
	}  
	to {
		opacity: 0;
		transform: translateX( 30px );
	}  
}

.anim-zoom-out {
	animation-name: zoomOut;
}

@keyframes zoomOut {
	from {
		opacity: 1;
		transform: scale( 1 );
	}  
	to {
		opacity: 0;
		transform: scale( 1.1 );
	}  
}
