/*--------------------------------------------------------------
-- Global General --
--------------------------------------------------------------*/

.site-area {
	position: relative;
}

.primary-area {
	width: 100%;

	.sidebar & {
		@include from( $sidebar_breakpoint_sm ) {
			width: calc( 100% - #{$sidebar_width} );
		}
	}
}

.sidebar-area {
	width: 100%;
	margin-top: 30px;

	@include from( $sidebar_breakpoint_sm ) {
		margin-top: 0;
		width: calc( #{$sidebar_width} - #{$sidebar_gap} );

		&--sticky {
			top: 0;
			position: sticky;
		}

		.sidebar_right & {
			margin-left: $sidebar_gap;
		}

		.sidebar_left & {
			margin-right: $sidebar_gap;
		}
	}

	.no-sidebar & {
		display: none;
	}
}
