/*--------------------------------------------------------------
-- Navigation area --
--------------------------------------------------------------*/

.navigation-area {
	width: 100%;
	font-size: 0.8rem;
	margin: 30px auto 0;

	.single-portfolio & {
		max-width: var( --narrow-wrapper-width );
	}

	&__container {
		@include flex( $align: center, $justify: center );
		padding-top: 30px;
		border-top: 1px solid $light;
	}

	&__previous-container,
	&__next-container {
		margin: 0 5px;

		a {
			display: block;
			background-color: var( --button-background );
			color: var( --button-color );

			@include hover( $background: var( --button-hover-background ), $color: var( --button-hover-color ) );
		}
	}

	[class*='--button'] {
		--button-padding: 6px 10px;
		font-size: 0.65rem;
	}

	[class*='--is-not-active'] {
		--button-color: $content_color;
		--button-hover-color: $content_color;
		--button-background: $light;
		--button-hover-background: $light;
	}
}
