/*--------------------------------------------------------------
-- Page pagination area --
--------------------------------------------------------------*/

.page-pagination-area {
	text-align: center;
	border: 1px solid $light;
	margin-top: 30px;
	padding: 10px;

	&__number {
		--button-padding: 2px 8px;
		--button-margin: 0 5px;
		text-decoration: underline;
	}

	[class*='--current'] {
		--button-color: $content_color;
		--button-hover-color: $content_color;
		text-decoration: none;
	}
}
