/*--------------------------------------------------------------
-- Pagination area --
--------------------------------------------------------------*/

.pagination-area {
	width: 100%;
	font-size: 0.8rem;
	margin: 30px auto 0;

	.single-portfolio & {
		max-width: var( --narrow-wrapper-width );
	}

	&__container {
		@include flex( $align: center, $justify: center );
	}

	&__page-number {
		font-size: 0.65rem;
	}

	[class*='--button'] {
		--button-padding: 2px 8px;
		--button-margin: 0 5px;
		text-decoration: underline;
	}

	[class*='--is-not-active'] {
		--button-color: $content_color;
		--button-hover-color: $content_color;
		--button-background: $light;
		--button-hover-background: $light;
	}

	[class*='--dots'],
	[class*='--current'] {
		--button-color: $content_color;
		--button-hover-color: $content_color;
		text-decoration: none;
	}

	[class*='--prev'],
	[class*='--next'],
	[class*='--is-not-active'] {
		--button-padding: 6px 10px;
		text-decoration: none;
	}
}
