$duration: 0.5s;

$breakpoint_sm: 500;
$breakpoint_m: 700;
$breakpoint_l: 900;
$breakpoint_xl: 1100;

$sidebar_breakpoint_sm: 750;
$sidebar_breakpoint_m: 900;
$sidebar_width: 320px;
$sidebar_gap: 50px;
$sidebar_divider: 1.3;
$narrow_content_width: 850px;

$max_width: 1150px;
