@mixin flex( $justify: '', $align: '', $direction: '', $wrap: '' ) {
	display: flex;

	@if $justify != '' {
		justify-content: $justify;
	}

	@if $align != '' {
		align-items: $align;
	}

	@if $direction != '' {
		flex-direction: $direction;
	}

	@if $wrap != '' {
		flex-wrap: $wrap;
	}
}

@mixin inline_flex( $justify: '', $align: '', $direction: '', $wrap: '' ) {
	display: inline-flex;

	@if $justify != '' {
		justify-content: $justify;
	}

	@if $align != '' {
		align-items: $align;
	}

	@if $direction != '' {
		flex-direction: $direction;
	}

	@if $wrap != '' {
		flex-wrap: $wrap;
	}
}

@mixin hover( $color: '', $background: '', $border: '' ) {
	transition-duration: var( --transition-duration );
	
	&:hover,
	&:focus {
		@if $color != '' {
			color: $color;
		}

		@if $background != '' {
			background-color: $background;
		}

		@if $border != '' {
			border-color: $border;
		}		

		@content;
	}
}

@mixin from( $width ) {
	@media ( min-width: $width + px ) {
		@content;
	}
}

@mixin from_landscape( $width ) {
	@media ( min-width: $width + px ) and ( orientation: landscape ) {
		@content;
	}
}

@mixin from_portrait( $width ) {
	@media ( min-width: $width + px ) and ( orientation: portrait ) {
		@content;
	}
}

@mixin between( $width_from, $width_to ) {
	@media ( min-width: $width_from + px ) and ( max-width: $width_to + px ) {
		@content;
	}
}

@mixin between_from( $width_from, $width_to, $width ) {
	@media ( min-width: $width_from + px ) and ( max-width: $width_to + px ), ( min-width: $width + px ) {
		@content;
	}
}

@mixin from_between( $width, $width_from, $width_to ) {
	@media ( min-width: $width + px ), ( min-width: $width_from + px ) and ( max-width: $width_to + px ) {
		@content;
	}
}

@mixin pseudo_before( $relative: true, $top: '', $bottom: '', $left: '', $right: '', $transform: '', $width: '', $height: '', $background: '', $z_index: '', $opacity: '', $duration: '' ) {
	@if $relative == true {
		position: relative;
	}

	&:before {
		content: '';
		position: absolute;

		@if $top != '' {
			top: $top;
		}

		@if $bottom != '' {
			bottom: $bottom;
		}

		@if $left != '' {
			left: $left;
		}

		@if $right != '' {
			right: $right;
		}

		@if $transform != '' {
			transform: $transform;
		}

		@if $width != '' {
			width: $width;
		}

		@if $height != '' {
			height: $height;
		}

		@if $background != '' {
			background-color: $background;
		}

		@if $z_index != '' {
			z-index: $z_index;
		}

		@if $opacity != '' {
			opacity: $opacity;
		}

		@if $duration != '' {
			transition-duration: $duration;
		}

		@content;
	}
}

@mixin pseudo_after( $relative: true, $top: '', $bottom: '', $left: '', $right: '', $transform: '', $width: '', $height: '', $background: '', $z_index: '', $opacity: '', $duration: '' ) {
	@if $relative == true {
		position: relative;
	}

	&:after {
		content: '';
		position: absolute;

		@if $top != '' {
			top: $top;
		}

		@if $bottom != '' {
			bottom: $bottom;
		}

		@if $left != '' {
			left: $left;
		}

		@if $right != '' {
			right: $right;
		}

		@if $transform != '' {
			transform: $transform;
		}

		@if $width != '' {
			width: $width;
		}

		@if $height != '' {
			height: $height;
		}

		@if $background != '' {
			background-color: $background;
		}

		@if $z_index != '' {
			z-index: $z_index;
		}

		@if $opacity != '' {
			opacity: $opacity;
		}

		@if $duration != '' {
			transition-duration: $duration;
		}

		@content;
	}
}

@mixin top_left( $top: 0, $left: 0 ) {
	position: absolute;
	top: $top;
	left: $left;
}

@mixin top_center( $top: 0 ) {
	position: absolute;
	top: $top;
	left: 50%;
	transform: translateX( -50% );
}

@mixin bottom_left( $bottom: 0, $left: 0 ) {
	position: absolute;
	bottom: $bottom;
	left: $left;
}

@mixin bottom_right( $bottom: 0, $right: 0 ) {
	position: absolute;
	bottom: $bottom;
	right: $right;
}

@mixin top_right( $top: 0, $right: 0 ) {
	position: absolute;
	top: $top;
	right: $right;
}

@mixin center_center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

@mixin left_center( $left: 0 ) {
	position: absolute;
	left: $left;
	top: 50%;
	transform: translateY( -50% );
}

@mixin right_center( $right: 0 ) {
	position: absolute;
	right: $right;
	top: 50%;
	transform: translateY( -50% );
}

@mixin bottom_center( $bottom: 0 ) {
	position: absolute;
	bottom: $bottom;
	left: 50%;
	transform: translateX( -50% );
}

@mixin hidden( $duration: '', $transform: '', $display: '' ) {
	opacity: 0;
	visibility: hidden;

	@if $duration != '' {
		transition-duration: $duration;
	}

	@if $transform != '' {
		transform: $transform;
	}

	@if $display != '' {
		display: $display;
	}  
}

@mixin visible( $duration: '', $transform: '' ) {
	opacity: 1;
	visibility: visible;

	@if $duration != '' {
		transition-duration: $duration;
	}

	@if $transform != '' {
		transform: $transform;
	}
}

@mixin img_cover() {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
