/*--------------------------------------------------------------
-- CSS Variables --
--------------------------------------------------------------*/

$font_family_awesome       : 'Font Awesome 5 Free';
$font_family_awesome_brands: 'Font Awesome 5 Brands';
$content_font_family       : 'Open Sans', Helvetica, Arial, sans-serif;
$heading_font_family       : 'Playfair Display', Georgia, serif;
$narrow_content_width      : 850px;
$max_width                 : 1150px;

$white        : #fff;
$very_light   : #f9f9f9;
$light        : #f2f2f2;
$medium       : #e5e5e5;
$dark         : #d8d8d8;
$very_dark    : #3f3f3f;
$content_color: #9e9e9e;
$heading_color: #000000;

:root {
	// Spacers.
	--section-spacer: 30px;
	@include from( 500 ) { --section-spacer: 50px; }
	@include from( 900 ) { --section-spacer: 65px; }

	// Wrappers.
	--wrapper-width: 1150px;
	--narrow-wrapper-width: 850px;

	// Buttons.
	--button-background      : #000000;
	--button-hover-background: #737373;
	--button-color           : #ffffff;
	--button-hover-color     : #ffffff;
	--button-padding         : 13px 16px 14px;
	--button-margin          : 0;

	// Links.
	--link-color      : #000000;
	--link-hover-color: #737373;

	// Lists.
	--list-margin        : 20px 0;
	--list-padding       : 0;
	--list-style         : disc;
	--order-list-style   : decimal;
	--list-style-position: inside;
	--nested-list-margin : 10px 0;
	--nested-list-padding: 0 0 0 15px;
	--list-item-margin   : 3px 0;

	// Duration.
	--transition-duration: 0.5s;
}
