/*--------------------------------------------------------------
-- Content --
--------------------------------------------------------------*/

.single-post-area__content,
.page-area__content {
	// p {
	// 	word-break: break-word;
	// }

	// > ul:first-child, > ol:first-child { margin-top: 0; }
	// > ul:last-child, > ol:last-child { margin-bottom: 0; }

	// // Latest posts.
	// .wp-block-latest-posts {
	// 	a {
	// 		text-decoration: underline;
	// 	}

	// 	&.is-grid {
	// 		li {
	// 			margin: 0 6px 6px 0;
	// 		}
	// 	}
	// }

	// Blockquote.






	// .wp-block-latest-posts {
	// 	--nested-list-margin: 0;
	// 	--nested-list-padding: 0;
	// 	--list-margin: 0;
	// 	--list-padding: 0;
	// 	--list-style: none;
	// 	--order-list-style: none;
	// }








	// blockquote {
	// 	border-left: 2px solid $very_dark;
	// 	padding-left: 20px;
	// }



	// > h1, > h2, > h3, > h4, > h5, > h6, > p, > ol, > ul {
	// 	&:first-child { padding-top: 0; }
	// 	&:last-child { padding-bottom: 0; }
	// }

	// > blockquote,
	// > table,
	// > pre,
	// > .wp-block-image,
	// > .wp-block-cover,
	// > .wp-block-pullquote,
	// > .wp-block-gallery,
	// > .wp-block-embed,
	// > .wp-block-table,
	// > .wp-block-media-text {
	// 	&:first-child { margin-top: 0; }
	// 	&:last-child { margin-bottom: 0; }
	// }



	// .wp-block-gallery:last-child {
	// 	margin-bottom: -16px;
	// }

	// > h1:first-child { margin-top: -11px; }
	// > h1:last-child { margin-bottom: -11px; }

	// > h2:first-child { margin-top: -12px; }
	// > h2:last-child { margin-bottom: -8px; }

	// > h3:first-child { margin-top: -11px; }
	// > h3:last-child { margin-bottom: -9px; }

	// > h4:first-child { margin-top: -11px; }
	// > h4:last-child { margin-bottom: -7px; }

	// > h5:first-child { margin-top: -10px; }
	// > h5:last-child { margin-bottom: -6px; }

	// > h6:first-child { margin-top: -9px; }
	// > h6:last-child { margin-bottom: -6px; }

	// > p:first-child { margin-top: -9px; }
	// > p:last-child { margin-bottom: -6px; }

	// .no-sidebar.narrow-container-width & .alignwide:not( .wp-block-embed-twitter ):not( .wp-block-embed-facebook ):not( .wp-block-embed-instagram ) {
	// 	@include from( 900 ) {
	// 		margin-left: calc( ( -900px + #{$narrow_content_width} ) / 2 );
	// 		max-width: calc( 900px - 40px );
	// 		width: 100vw;
	// 	}

	// 	@include from( 1000 ) {
	// 		margin-left: calc( ( -1000px + #{$narrow_content_width} ) / 2 );
	// 		max-width: calc( 1000px - 40px );
	// 	}

	// 	@include from( 1150 ) {
	// 		margin-left: calc( ( -#{$max_width} + #{$narrow_content_width} ) / 2 );
	// 		max-width: calc( #{$max_width} - 40px );
	// 	}
	// }

	// .alignwide, .alignfull {
	// 	clear: both;
	// }

	// .no-sidebar.content-container-width & .alignwide:not( .wp-block-embed-twitter ):not( .wp-block-embed-facebook ):not( .wp-block-embed-instagram ) {
	// 	@include from( 1200 ) {
	// 		margin-left: -20px;
	// 		max-width: $max_width;
	// 		width: 100vw;
	// 	}

	// 	@include from( 1300 ) {
	// 		margin-left: -70px;
	// 		max-width: calc( #{$max_width} + 100px );
	// 	}

	// 	@include from( 1400 ) {
	// 		margin-left: -120px;
	// 		max-width: calc( #{$max_width} + 200px );
	// 	}
	// }

	// .no-sidebar & .alignfull:not( .wp-block-embed-twitter ):not( .wp-block-embed-facebook ):not( .wp-block-embed-instagram ) {
	// 	margin-left: calc( 50% - 50vw );
	// 	margin-right: calc( 50% - 50vw );
	// 	max-width: 100vw;
	// 	width: 100vw;
	// }

	// .no-sidebar & .wp-block-columns.alignfull {
	// 	padding-left: 20px;
	// 	padding-right: 20px;
	// }

	// .wp-block-embed.aligncenter.is-type-rich {
	// 	> .wp-block-embed__wrapper iframe,
	// 	> .wp-block-embed__wrapper twitter-widget {
	// 		margin-left: auto !important;
	// 		margin-right: auto !important;
	// 	}
	// }

	// .wp-block-latest-comments__comment-excerpt {
	// 	margin-top: 12px;
	// }

	// .post-password-form {
	// 	margin-bottom: 5px;
	// }

	// .post-password-form input[type=submit] {
	// 	margin-top: 10px;
	// }





	// .wp-block-latest-comments__comment {
	// 	font-size: 1rem;
	// }

	// .wp-block-spacer {
	// 	clear: both;
	// }




}
