/*--------------------------------------------------------------
-- Comments --
--------------------------------------------------------------*/

.comments-area {
	--wrapper-width: var( --narrow-wrapper-width );

	font-size: 0.9rem;
	padding: var( --section-spacer ) 0;
	background-color: $very_light;

	&__comments {
		margin-top: -25px;

		> .comments-area__comments-wrapper {
			padding: 30px;
			margin-bottom: 30px;
		}
	}

	&__child-comments {
		@include from( 600 ) {
			padding-left: 20px;
		}
	}

	&__comments-wrapper {
		background-color: $white;
		margin-top: 25px;
	}

	&__info {
		display: flex;
	}

	&__gravatar {
		width: 40px;
		height: 40px;
		margin: 0 15px 0 0;

		img {
			@include img_cover();
		}
	}

	&__author {
		font: normal 400 0.9rem $content_font_family;
		text-transform: uppercase;
		margin: -2px 0 0;
		color: $heading_color;
	}

	&__date {
		font: normal 400 0.7rem $content_font_family;
		text-decoration: underline;
	}

	blockquote {
		border-left: 2px solid $very_dark;
		padding-left: 20px;
	}

	&__content {
		margin: 10px 0 0 0;
		line-height: 1.6;


		img {
			display: block;
			margin: 10px 0;
		}
	}

	&__no-comments {
		text-align: center;
		margin: -5px 0;
	}

	&__awaiting {
		font: normal 400 0.75rem $content_font_family;
		margin: 10px 0 0 0;
	}

	&__links-container {
		font: normal 400 0.75rem $heading_font_family;
		margin: 10px 0 -2px 0;
		display: flex;

		.comment-reply-link {
			margin-left: 12px;
		}

		a {
			text-decoration: underline;
		}
	}

	&__form-container--no-comments {
		margin-top: -20px;
	}

	.comment-respond {
		margin-top: 20px;
		padding: 30px;
		border: 1px solid $light;
	}

	.comment-reply-title {
		margin: -10px 0 0 0;
		font: normal 400 1.5rem $heading_font_family;
		color: $heading_color;

		#cancel-comment-reply-link {
			display: inline-block;
			font: normal 400 0.75rem $content_font_family;
			margin-left: 5px;
			text-decoration: underline;
		}
	}

	.comments-title {
		margin: 0 0 20px 0;
	}

	.comment-form {
		@include flex( $wrap: wrap );
		font-size: 0.9rem;
		margin-bottom: 0;

		label {
			display: block;
			margin-bottom: 5px;
		}

		p {
			margin: 20px 0 0 0;
			border-color: inherit;
		}

		.comment-form-comment {
			margin-top: 17px;
		}

		.comment-notes,
		.comment-form-cookies-consent,
		.comment-subscription-form,
		.logged-in-as {
			width: 100%;
			font: normal 400 0.7rem $content_font_family;
			margin-top: 10px;

			a {
				text-decoration: underline;
			}
		}

		.comment-form-cookies-consent label,
		.comment-subscription-form label {
			display: inline;
			margin-left: 5px;
		}

		.comment-form-cookies-consent input:not([type=submit]),
		.comment-subscription-form input:not([type=submit]) {
			margin: 0;
		}

		.comment-form-cookies-consent {
			margin-top: 17px;

			label {
				margin-left: 9px;
			}
		}

		textarea, input:not([type=submit]) {
			font-size: 0.9rem;
			padding: 10px 14px;
		}

		textarea {
			min-height: 200px;
			display: block;
		}

		.comment-form-comment {
			width: 100%;
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			margin-top: 10px;
			width: 100%;

			@include from( 600 ) {
				margin-top: 20px;
				width: 32%;
			}
		}

		.comment-form-author,
		.comment-form-email {
			@include from( 600 ) {
				margin-right: 2%;
			}
		}

		.form-submit {
			width: 100%;
			margin-top: 20px;
		}

		.form-submit .submit {
			display: block;
			width: 100%;

			@include from( 600 ) {
				margin: 0 0 0 auto;
				width: auto;
			}
		}
	}

	.comment-navigation .nav-links {
		@include flex( $justify: center );
		margin-bottom: 30px;

		.nav-link {
			--button-padding: 6px 10px;
			margin: 0 5px;
			font-size: 0.65rem;
		}
	}
}
