/*--------------------------------------------------------------
-- Search --
--------------------------------------------------------------*/

.search-form {
	@include flex();
	position: relative;
	margin: 0;

	.error404 &,
	.search & {
		margin: 0 auto 50px;
		max-width: 400px;
	}

	&__field {
		padding: 12px 15px 12px;
		font-weight: 300;
	}

	&__button:before {
		font-family: $font_family_awesome;
		font-size: 11px;
	}
}
