/*--------------------------------------------------------------
-- Wordpress Core --
--------------------------------------------------------------*/

// Captions.
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption-text {
	text-align: center;
	font-size: 0.85rem;
	padding: 10px;
}

// Galleries.
.gallery {
	margin: -1px;

	&-columns-1 {
		margin: -5px 0 0;
	}
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 5px 1px;

	img {
		display: block;
		margin: 0 auto;
	}
}

@for $i from 2 through 9 {
	.gallery-columns-#{$i} .gallery-item {
		max-width: calc( 100% / #{$i} - 2.1px );
	}
}

.gallery-caption {
	display: block;
}

// Alignments.
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Posts and pages.
.updated:not(.published) {
	display: none;
}

// Comments.
.bypostauthor {
	display: block;
}

// Sticky.
.sticky {
	box-sizing: inherit;
}

// Media.
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
