/*--------------------------------------------------------------
-- Releated Posts --
--------------------------------------------------------------*/

.releated-posts-area {
	margin-top: 30px;
	margin-bottom: -30px;

	.single-portfolio & {
		max-width: var( --narrow-wrapper-width );
		margin: 30px auto 0;
	}

	&__header {
		margin-top: -8px;
		text-align: center;

		@include from( 500 ) {
			text-align: left;
		}
	}

	&__heading {
		margin: 0 0 20px 0;
		display: inline-block;
		padding-bottom: 15px;
		position: relative;
		font: normal 400 1.5rem $heading_font_family;

		&:before {
			content: '';
			@include bottom_center();
			width: 10px;
			height: 1px;
			background: $dark;
		}

		@include from( 500 ) {
			&:before {
				left: 0;
				transform: none;
			}
		}
	}

	&__list {
		.single-post.sidebar & {
			@include between_from( 650, 749, 1000 ) {
				@include flex( $wrap: wrap );
			}
		}

		.single-post.no-sidebar & {
			@include from( 650 ) {
				@include flex( $wrap: wrap );
			}
		}

		.single-portfolio & {
			@include from( 450 ) {
				margin: 0 -1px;
			}
		}
	}

	&__item {
		.sidebar.single-post &,
		.no-sidebar.single-post & {
			margin-bottom: 30px;
		}
	}
}
