/*--------------------------------------------------------------
-- Author area --
--------------------------------------------------------------*/

.author-area {
	padding: 20px;
	margin-top: 30px;
	text-align: center;

	@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
		text-align: left;
	}

	.single-portfolio & {
		margin: 30px auto 0;
		max-width: var( --narrow-wrapper-width );
	}

	@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
		@include flex( $align: flex-start );
		padding: 30px 30px 30px 0;
	}

	.no-sidebar & {
		@include from( 500 ) {
			@include flex( $align: flex-start );
			padding: 30px 30px 30px 0;	
		}
	}

	@include pseudo_before( $top: 0, $left: 0, $width: 100%, $height: 100% ) {
		border: 1px solid $light;

		@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
			width: calc( 100% - 60px );
			left: 60px;
		}

		.no-sidebar & {
			@include from( 500 ) {
				width: calc( 100% - 60px );
				left: 60px;
			}
		}
	}

	&__img-container {
		width: 100%;
		position: relative;

		img {
			display: none;

			&:first-child {
				display: block;
				width: 100%;
			}
		}

		&:before,
		&:after {
			position: absolute;
			top: -15px;
			left: 0;
			width: 100%;
			height: 15px;
			background-color: $white;
		}

		&:after {
			top: auto;
			bottom: -15px;
		}

		@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
			width: 120px;
			height: 120px;

			&:before,
			&:after {
				content: '';
			}

			img:first-child {
				@include img_cover();
			}
		}

		.no-sidebar & {
			@include from( 500 ) {
				width: 120px;
				height: 120px;

				&:before,
				&:after {
					content: '';
				}

				img:first-child {
					@include img_cover();
				}
			}
		}
	}

	&__content-container {
		@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
			width: calc( 100% - 120px );
			padding-left: 20px;
		}

		.no-sidebar & {
			@include from( 500 ) {
				width: calc( 100% - 120px );
				padding-left: 20px;
			}
		}
	}

	&__name {
		margin: 13px 0;
		padding-bottom: 15px;
		font: normal 400 1.2rem $heading_font_family;
		color: $heading_color;
		border-bottom: 1px solid $light;

		@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
			margin-top: -8px;
		}

		.no-sidebar & {
			@include from( 500 ) {
				margin-top: -8px;
			}
		}
	}

	&__desc {
		margin: 0;
		font-size: 0.9rem;
	}

	&__social-media-container {
		margin-top: 15px;
	}

	&__social-media-list {
		@include flex( $wrap: wrap, $align: center, $justify: center );
		margin-bottom: -8px;

		@include between_from( 500, $sidebar_breakpoint_sm - 1, 820 ) {
			justify-content: flex-start;
		}
	}

	&__social-media-item {
		margin: 0 8px 8px 0;
		padding-right: 10px;

		@include pseudo_after( $top: 50%, $right: 0, $transform: translateY( -50% ), $width: 3px, $height: 1px, $background: $dark );

		&:last-child:after {
			display: none;
		}
	}

	&__social-media-link {
		@include flex( $align: center, $justify: center );
		font-size: 12px;
	}

	&__website {
		font: italic 400 0.75rem $content_font_family;
		margin: 15px 0 -2px 0;
	}

	&__website-link span {
		text-decoration: underline;
	}
}
