/*--------------------------------------------------------------
-- 404 Page --
--------------------------------------------------------------*/

.error-404-page {
	@include flex( $align: center );
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #000;
	text-align: center;

	@include from( 600 ) {
		text-align: left;
	}

	.admin-bar & {
		min-height: calc( 100vh - 46px );

		@include from( 783 ) {
			min-height: calc( 100vh - 32px );
		}
	}

	&__num-background {
		@include bottom_right( -100px, -100px );
		font-size: 800px;
		font-weight: bold;
		color: #0a0a0a;
		line-height: 1;
		pointer-events: none;
	}

	&__container {
		z-index: 1;
		max-width: 650px;
	}

	&__num {
		margin-top: -4px;
		display: block;
		font: normal 300 0.7rem $content_font_family;
		letter-spacing: 3px;
		margin-bottom: 10px;
	}

	&__heading {
		margin: 0 0 23px;
		padding-bottom: 17px;
		color: white;
		font: normal 700 2rem $heading_font_family;
		position: relative;
		max-width: 550px;

		&:after {
			content: '';
			@include top_center( 100% );
			background-color: #2d2d2d;
			height: 1px;
			width: 15px;

			@include from( 600 ) {
				transform: none;
				left: 0;
			}
		}

		@include from( 600 ) {
			font-size: 3rem;
		}
	}

	&__content {
		position: relative;
		margin: 10px 0;
		color: #b5b5b5;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 21px;

			@include from( 600 ) {
				margin-bottom: 91px;
			}
		}
	}

	&__content-link {
		--link-color      : #b5b5b5;
		--link-hover-color: #ffffff;
		text-decoration: underline;
	}

	&__search-show-btn {
		--button-background      : #DCDCDC;
		--button-hover-background: #ffffff;
		--button-color           : #000000;
		--button-hover-color     : #000000;

		@include from( 600 ) {
			padding: 16px 45px;
		}
	}

	&__search-hide-btn {
		--button-padding: 0;
		--button-background: transparent;
		--button-hover-background: transparent;
		--button-color: $heading_color;
		width: 100%;

		.visible & {
			transition-delay: 1s;
			@include visible();
		}
	}

	&__search-hide-btn-icon {
		display: block;
		font-size: 12px;
		padding: 10px 0;

		@include from( 600 ) {
			padding: 20px 0;
		}
	}

	&__search-container {
		@include flex( $align: center, $direction: column );
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 9999999;
		width: 100%;
		transition-duration: var( --transition-duration );
		background-color: $white;
		border-bottom: 1px solid $light;

		@include from( $breakpoint_m ) {
			justify-content: center;
		}

		&.visible {
			top: 0;
			@include visible();
		}
	}

	&__search-inner-container {
		margin: 20px auto;
		padding: 5px 20px 20px;
		border: 1px solid $light;

		@include from( 800 ) {
			padding: 20px 100px 35px;
		}

		@include from( 1200 ) {
			margin: 50px auto;
			padding: 35px 200px 50px;
		}

		.search-form {
			max-width: 100%;
			margin-top: 15px;
			@include hidden();
			transform: translateY( 30px );
			transition-duration: var( --transition-duration );
			display: block;

			@include from( 600 ) {
				display: flex;
				margin-top: 25px;
			}

			@include from( 800 ) {
				margin-top: 30px;
			}

			.visible & {
				@include visible();
				transform: none;
				transition-delay: 0.75s;
			}

			&__field {
				padding: 10px;
				background-color: $very_light;
				border: 1px solid $light;

				@include from( 600 ) {
					padding: 15px;
				}
			}

			&__button {
				width: 100%;
				margin-top: 5px;

				@include from( 600 ) {
					padding: 15px 30px;
					width: auto;
					margin-top: 0;
				}
			}
		}
	}

	&__search-heading {
		margin: 0;
		padding-bottom: 10px;
		font: normal 400 1.2rem $heading_font_family;
		text-align: center;
		transform: translateY( -30px );
		transition-duration: var( --transition-duration );
		position: relative;

		&:before {
			content: '';
			@include bottom_center();
			width: 10px;
			height: 1px;
			background-color: $medium;
		}

		@include from( 600 ) {
			font-size: 1.5rem;
			padding-bottom: 20px;
		}

		@include from( 800 ) {
			font-size: 2.1rem;
		}

		.visible & {
			@include visible();
			transform: none;
			transition-delay: 0.75s;
		}
	}
}
