/*--------------------------------------------------------------
-- Content area --
--------------------------------------------------------------*/

.content-area {
	padding-top: var( --section-spacer );
	padding-bottom: var( --section-spacer );

	&-pseudo-element {
		@include top_left();
		width: 100%;
		height: var( --section-spacer );
		background-color: #000000;
		border-bottom: 5px solid $medium;
		z-index: -1;
		opacity: 0;

		&:after {
			content: '';
			@include top_center();
			width: 100%;
			max-width: calc( var( --wrapper-width ) + 90px );
			height: var( --section-spacer );
			background-color: $white;
		}

		.no-featured-image & {
			opacity: 1;
		}

		.no-featured-image.narrow-container-width &:after {
			max-width: calc( var( --narrow-wrapper-width ) + 90px );
		}

		.no-featured-image.narrow-container-width.search-results &:after,
		.no-featured-image.narrow-container-width.search-no-results &:after {
			max-width: calc( var( --narrow-wrapper-width ) - 150px + 60px );
			@include from( 900 ) {
				max-width: calc( var( --narrow-wrapper-width ) - 150px + 90px );
			}
		}

		.no-featured-image.single-portfolio &:after {
			max-width: var( --wrapper-width );

			@include from( 1150 ) {
				max-width: calc( var( --wrapper-width ) - 40px );
			}
		}
	}

	.sidebar & {
		@include flex( $wrap: wrap, $align: flex-start );
	}

	.front-page & {
		margin-top: 0;
		margin-bottom: 0;
	}

	.content-full-width & {
		max-width: 100%;
		padding: 0;
	}

	.narrow-container-width & {
		max-width: var( --narrow-wrapper-width );
	}

	.error404 &,
	.search-results &,
	.search-no-results & {
		max-width: calc( #{$narrow_content_width} - 150px );
	}
}
