/*--------------------------------------------------------------
-- Search Results --
--------------------------------------------------------------*/

.search-page {
	&__item {
		text-align: center;
		background-color: $very_light;

		&:nth-child( 2n ) {
			background-color: transparent;
			border-bottom: 1px solid $very_light;
		}
	}

	&__link {
		display: block;
		padding: 30px;
		color: inherit;

		@include from( 500 ) {
			padding: 50px;
		}
	}

	&__post-type {
		display: block;
		font: normal 400 0.7rem $content_font_family;
		text-transform: uppercase;
		text-decoration: underline;
		margin: -5px 0 9px;

		@include from( 500 ) {
			margin-bottom: 12px;
		}
	}

	&__post-title {
		margin: 0;
		font: normal 400 1.2rem $heading_font_family;

		@include from( 500 ) {
			font-size: 1.4rem;
		}
	}

	&__post-content {
		margin: 10px 0 -5px 0;
		padding-top: 8px;
		font-size: 0.9rem;
		line-height: 1.6;
		border-top: 1px solid $light;

		@include from( 500 ) {
			padding-top: 14px;
			margin-top: 14px;
		}
	}
}
