/*--------------------------------------------------------------
-- Page header area --
--------------------------------------------------------------*/

.page-header-area {
	margin-bottom: var( --section-spacer );
	width: 100%;

	&__header {
		position: relative;
		text-align: center;
		overflow: hidden;

		&:before {
			content: '';
			@include left_center();
			width: 100%;
			height: 1px;
			border-top: 4px double $light;
			z-index: -1;

			.search-results &,
			.search-no-results & {
				display: none;
			}
		}
	}

	&__heading {
		.search-results &,
		.search-no-results & {
			padding: 15px;
			border-top: 1px solid $light;
			border-bottom: 1px solid $light;
		}
	}

	&__search-phrase {
		text-decoration: underline;
	}
}
