/*--------------------------------------------------------------
-- Post header area --
--------------------------------------------------------------*/

.post-header-area {
	width: 100%;
	margin-bottom: var( --section-spacer );

	.single-post & {
		--section-spacer: 30px;
	}

	.single-portfolio & {
		max-width: var( --narrow-wrapper-width );
		margin-left: auto;
		margin-right: auto;
	}

	&__heading {
		font: normal 700 1.75rem $heading_font_family;
		line-height: 1.3;
		margin: -9px 0 0 0;
		padding: 0 0 13px;
		border-bottom: 1px solid $light;
		position: relative;

		.single-portfolio & {
			font: normal 700 1.75rem $heading_font_family;
		}

		@include from( 500 ) {
			font-size: 2rem;
			margin: -10px 0 0 0;
			padding-bottom: 20px;

			.single-portfolio & {
				font-size: 2rem;
			}
		}

		@include from( 900 ) {
			font-size: 2.5rem;
			margin: -12px 0 0 0;
			line-height: 1.25;

			.single-portfolio & {
				font-size: 2.5rem;
			}
		}

		@include from( 1100 ) {
			font-size: 3rem;
			margin: -14px 0 0 0;
			line-height: 1.2;

			.single-portfolio & {
				font-size: 3rem;
			}
		}

		&:before {
			content: '';
			@include top_left( 100% );
			width: 20px;
			height: 1px;
			background: $dark;
		}
	}

	&__data-container {
		margin-top: -3px;
		margin-bottom: 10px;

		@include from( 500 ) {
			margin-bottom: 24px;
		}

		.single-portfolio & {
			margin-bottom: 11px;

			@include from( 500 ) {
				margin-bottom: 21px;
			}
		}
	}

	&__date-container,
	&__author-container,
	&__comments-container {
		margin: 0 0 7px 10px;
		position: relative;
		text-transform: uppercase;

		@include from( 500 ) {
			padding-left: 16px;
			margin-left: 6px;
		}

		&:before {
			@include from( 500 ) {
				content: '';
				@include left_center();
				width: 5px;
				height: 1px;
				background-color: $dark;
			}
		}
	}

	&__date-container {
		padding-left: 0;
		margin-left: 0;

		&:before {
			display: none;
		}
	}

	&__date,
	&__author,
	&__comment {
		font: normal 400 0.65rem $content_font_family;
		text-transform: uppercase;

		@include from( 600 ) {
			font-size: 0.75rem;
		}
	}

	&__date:before,
	&__author:before,
	&__comment:before {
		margin-right: 5px;
		font-family: $font_family_awesome;
		color: $dark;
	}

	&__author span,
	&__comment span {
		text-decoration: underline;
	}

	&__categories-list {
		@include flex( $wrap: wrap );
		margin-bottom: 14px;

		@include from( 1100 ) {
			margin-bottom: 24px;
		}
	}

	&__categories-item {
		margin: 0 5px 5px 0;
		display: inline-block;
		text-transform: uppercase;
		font: normal 400 0.7rem $content_font_family;
		text-decoration: underline;

		&:last-child span:after {
			display: none;
		}
	}

	&__categories-text {
		position: relative;

		&:after {
			content: ','
		}
	}
}
