/*--------------------------------------------------------------
-- Search no results page --
--------------------------------------------------------------*/

.search-no-results-page {
	text-align: center;

	&__content {
		margin-top: -10px;
	}
}
