/*--------------------------------------------------------------
-- Page Featured Image --
--------------------------------------------------------------*/

.featured-img-area {
	position: relative;

	&:before {
		content: '';
		@include top_left();
		width: 100%;
		height: 50%;
		background-color: #000000;
		border-bottom: 5px solid $medium;
	}

	&--gallery {
		transition-duration: var( --transition-duration );
		height: 0;
		overflow: hidden;

		.owl-prev, .owl-next {
			@include hidden();
			@include flex( $justify: center, $align: center );
			width: 30px;
			height: 30px;
			padding: 0;
			font-size: 16px;

			span {
				line-height: 0;
				margin-top: -2px;
			}
		}

		.owl-prev {
			@include left_center( 30px );
		}

		.owl-next {
			@include right_center( 30px );
		}

		.owl-carousel {
			@include hover() {
				.owl-prev, .owl-next {
					@include visible();
				}
			}
		}
	}

	&__container {
		border: 10px solid $white;
		position: relative;

		@include from( $breakpoint_l ) {
			border-width: 30px;
		}

		&:after {
			--val: 10px;

			content: '';
			position: absolute;
			top: calc( -1 * var( --val ) );
			left: calc( -1 * var( --val ) );
			width: calc( 100% + calc( 2 * var( --val ) ) );
			height: calc( 100% + calc( 2 * var( --val ) ) );
			border: 1px solid $light;

			@include from( $breakpoint_l ) {
				--val: 30px;
			}
		}
	}
}
