/*--------------------------------------------------------------
-- Portfolio area --
--------------------------------------------------------------*/

.portfolio-area {
	position: relative;
	z-index: 1;
}
