/*--------------------------------------------------------------
-- Releated Albums --
--------------------------------------------------------------*/

.releated-albums-area {
	padding: 20px;
	margin: 30px auto 0;
	max-width: var( --narrow-wrapper-width );
	border: 1px solid $light;

	@include from( $breakpoint_sm ) {
		padding: 30px;
	}

	&__header {
		margin-top: -9px;
	}

	&__heading {
		margin: 0 0 20px 0;
		padding-bottom: 13px;
		font: normal 400 1.5rem $heading_font_family;
		position: relative;
		border-bottom: 1px solid $light;

		&:before {
			content: '';
			@include top_left( 100% );
			width: 20px;
			height: 1px;
			background-color: $dark;
		}
	}

	&__list {
		@include flex( $wrap: wrap );
		width: calc( 100% + 10px );
		margin: -5px;
	}

	&__item {
		width: 100%;
		margin: 5px;

		@include from( 600 ) {
			width: calc( 50% - 10px );
		}
	}
}
