/*--------------------------------------------------------------
-- Portfolio load more --
--------------------------------------------------------------*/

.portfolio-load-more {
	@include bottom_center();
	width: 100%;
	text-align: center;
	z-index: 4;

	&__button--is-loading {
		color: transparent;

		@include hover() {
			color: transparent;
		}
	}

	@keyframes spinner {
		0%, 100% { transform: translate( -50%, -50% ) scale( 0.9 ); }
		50% { transform: translate( -50%, -50% ) scale( 1.1 ); }
	}

	&__spinner {
		@include center_center();
		display: block;
		background-color: var( --button-color );
		width: 6px;
		height: 6px;
		animation: spinner 1s infinite 0.33s;
		transition-duration: var( --transition-duration );

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: inherit;
			left: calc( 50% - 12px );
			transform: inherit;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			animation-delay: 0.66s;
			background-color: inherit;
		}

		&:after {
			left: calc( 50% + 12px );
			animation-delay: 0.33s;
		}
	}
}
