/*--------------------------------------------------------------
-- Portfolio filter --
--------------------------------------------------------------*/

.portfolio-filter {
	@include flex( $justify: center );
	margin-bottom: 30px;

	&__list {
		position: relative;
		text-align: center;
		margin: -10px -5px;
		@include flex( $wrap: wrap, $justify: center );
	}

	&__item {
		--list-item-margin: 0;
	}

	&__button {
		margin: 5px;
		font-size: 0.8rem;

		&[class*='--is-active'] {
			--button-hover-color: var( --link-color );
			text-decoration: underline;
		}

		&[class*='--is-not-active'] {
			--button-hover-color: var( --link-color );
			opacity: 0.3;
		}
	}
}
