/*--------------------------------------------------------------
-- Portfolio global --
--------------------------------------------------------------*/

.portfolio,
.portfolio-container,
.front-page-portfolio,
.releated-albums-area,
.widget-latest-albums {
	--link-color: $content_color;
	--link-hover-color: $content_color;

	&__item {
		overflow: hidden;
		transition-duration: var( --transition-duration );
		background-color: $very_light;

		@include hover() {
			.portfolio__content-container,
			.portfolio-container__content-container,
			.front-page-portfolio__content-container,
			.widget-latest-albums__content-container,
			.releated-albums-area__content-container {
				@include visible();
				transform: none;
			}

			img {
				transform: translateY( -50% );
			}
		}	
	}

	&__link {
		display: block;
		position: relative;
		height: 100%;
	}

	&__img {
		transition-duration: var( --transition-duration );
		display: block;
	}

	&__content-container {
		@include bottom_left();
		@include flex( $align: center, $wrap: wrap );
		z-index: 3;
		overflow-y: scroll;
		transition-duration: var( --transition-duration );
		transform: translateY( 100% );
		width: 100%;
		min-height: 50%;
		max-height: 100%;
		padding: 50px;
		background-color: $very_light;
	}

	&__content-inner-container {
		width: 100%;
	}

	&__title {
		margin: 0;
		font: normal 400 1.2rem $heading_font_family;
	}

	&__categories-list {
		@include flex( $wrap: wrap );
		margin-bottom: 13px;
		padding-bottom: 14px;
		border-bottom: 1px solid $light;
		position: relative;

		&:before {
			content: '';
			@include top_left( 100% );
			width: 10px;
			height: 1px;
			background-color: $dark;
		}
	}

	&__categories-item {
		margin: 0 5px 5px 0;
		display: inline-block;
		text-transform: uppercase;
		font: normal 400 0.7rem $content_font_family;
		text-decoration: underline;

		&:last-child span:after {
			display: none;
		}
	}

	&__categories-text {
		position: relative;

		&:after {
			content: ','
		}
	}
}
