/*--------------------------------------------------------------
-- Portfolio container --
--------------------------------------------------------------*/

.portfolio-container,
.single-portfolio-area {
	transition-duration: var( --transition-duration );

	&--has-more-button {
		padding-bottom: 72px;
	}

	&__list {
		transition-duration: inherit;
		overflow: hidden;
		text-align: center;

		[data-layout=grid-2-col] &,
		[data-layout=grid-3-col] &,
		[data-layout=masonry-2-col] &,
		[data-layout=masonry-3-col] & {
			@include from( 500 ) {
				margin: -5px;
			}
		}
	}

	&__item {
		width: 100%;
		display: block;
		margin: 10px 0 0;
		overflow: hidden;
		transition-duration: inherit;
		text-align: left;

		img {
			width: 100%;
		}

		&:first-child {
			margin-top: 0;
		}

		[data-layout=grid-2-col] &,
		[data-layout=grid-3-col] &,
		[data-layout=masonry-2-col] &,
		[data-layout=masonry-3-col] & {
			@include from( 500 ) {
				width: calc( 100% / 2 - 10px );
				margin: 5px;

				&:last-child {
					margin-bottom: 5px;
				}
			}
		}

		[data-layout=grid-3-col] & {
			@include from( 800 ) {
				width: calc( 100% / 3 - 10px );
			}
		}

		[data-layout=masonry-3-col] & {
			@include from( 950 ) {
				width: calc( 100% / 3 - 10px );
			}
		}
	}

	&__link {
		transition-duration: inherit;
	}

	&__img {
		display: block;
		transition-duration: inherit;
	}
}

.portfolio-container__title {
	[data-layout=grid-2-col] &,
	[data-layout=masonry-2-col] & {
		@include from( 800 ) {
			font-size: 1.4rem;
		}

		@include from( 950 ) {
			font-size: 1.6rem;
		}
	}
}
