/*--------------------------------------------------------------
-- Single portfolio area --
--------------------------------------------------------------*/

.single-portfolio-area {
	&__caption {
		display: none;
	}
}
