/*--------------------------------------------------------------
-- Blog -- 
--------------------------------------------------------------*/

.blog-page-posts,
.front-page-blog,
.front-page-slider,
.releated-posts-area {
	&__img-container {
		background-color: $light;
	}

	&__content {
		position: relative;
		width: calc( 100% - 20px );
		padding: 20px;
		background-color: $white;
	}

	&__sticky-icon,
	&__gallery-icon {
		@include top_right( 0, 10px );
		@include flex( $align: center, $justify: center );
		transform: translateY( -50% );
		width: 25px;
		height: 25px;
		font-size: 9px;
		background-color: $very_dark;
		color: $white;

		[class*='__item--featured'] & {
			width: 30px;
			height: 30px;
			font-size: 10px;
		}

		&:before {
			margin-top: 2px;
		}
	}

	&__gallery-icon {
		[class*='__item--sticky'] & {
			right: 40px;
		}

		[class*='__item--sticky'][class*='__item--featured'] & {
			right: 45px;
		}

		&:before {
			margin-top: 0;
			font-family: $font_family_awesome;
		}
	}

	&__categories-list {
		@include flex( $wrap: wrap, $align: center );
		margin: -5px 0 20px;
	}

	&__categories-link {
		[class*='__item--featured'] & {
			.no-sidebar & {
				@include from( 650 ) {
					font-size: 0.8rem;
				}
			}
		}
	}

	&__title {
		font: normal 700 1.35rem $heading_font_family;
		line-height: 1.25;
		margin: -5px 0 13px;
		padding-bottom: 16px;
		border-bottom: 1px solid $light;
		position: relative;

		&:before {
			content: '';
			@include top_left( 100% );
			width: 10px;
			height: 1px;
			background-color: $dark;
		}

		[class*='__item--featured'] & {
			.no-sidebar & {
				@include from( 650 ) {
					font-size: 2rem;
					padding-bottom: 24px;
					margin: 0 0 23px;
				}

				@include from( 750 ) {
					font-size: 2.2rem;
					margin: -1px 0 22px;
					padding-bottom: 23px;
				}
			}
		}
	}

	&__excerpt {
		margin: 0 0 10px;
		font-size: 0.9rem;
		word-wrap: break-word;

		[class*='__item--featured'] & {
			.no-sidebar & {
				@include from( 650 ) {
					margin-bottom: 15px;
				}

				@include from( 750 ) {
					font-size: 1rem;
					margin-bottom: 17px;
				}
			}
		}
	}

	&__details-container {
		@include flex( $justify: space-between, $align: flex-end );
		margin: auto 0 -2px;
	}

	&__more {
		font: normal 400 0.75rem $heading_font_family;
		display: inline-block;
		text-decoration: underline;

		[class*='__item--featured'] & {
			.no-sidebar & {
				@include from( 650 ) {
					font-size: 0.85rem;
				}
			}
		}
	}

	&__date {
		font: normal 400 0.75rem $content_font_family;
		@include flex( $wrap: wrap, $align: center );

		&:before {
			color: $dark;
			font-family: $font_family_awesome;
			margin-right: 7px;
			font-size: 0.8em;
		}
	}
}

.blog-page-posts,
.front-page-blog,
.releated-posts-area {
	&__inner-container {
		margin-bottom: -30px;

		.no-sidebar & {
			@include from( 650 ) {
				@include flex( $wrap: wrap );
			}
		}

		.sidebar.blog-posts &,
		.sidebar.single-post & {
			@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m + 100 ) {
				@include flex( $wrap: wrap );
			}
		}
	}

	&__item {
		margin: 0 0 20px 0;
		width: 100%;
		opacity: 0;

		@keyframes blog_posts_visible {
			to { opacity: 1; }
		}

		&[data-macy-complete='1'] {
			animation: blog_posts_visible 1s ease-in-out forwards;
			animation-delay: 0.5s;
		}

		&:first-child {
			margin-top: 0;
		}

		.no-sidebar & {
			@include from( 650 ) {
				width: calc( 50% - 20px );
				margin: 0 0 30px;
			}
		}

		.sidebar.blog-posts &,
		.sidebar.single-post & {
			@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m + 100 ) {
				width: calc( 50% - 20px );
				margin: 0 0 30px;
			}
		}

		.no-sidebar.blog-posts.content-container-width &:not( [class*='__item--featured'] ),
		.no-sidebar.front-page &:not( [class*='__item--featured'] ) {
			@include from( 950 ) {
				width: calc( 33.33% - 20px );
			}
		}

		&--featured {
			opacity: 1;

			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					@include flex( $align: flex-end, $justify: flex-end );
					position: relative;
					width: 100%;
					margin: 0 0 30px;
				}

				@include between( 900, 1001 ) {
					&[class*='--img-no-exist'] {
						margin: 0;
					}
				}
			}

			.no-sidebar & {
				@include from( 650 ) {
					@include flex( $align: flex-end, $justify: flex-end );
					position: relative;
					width: 100%;
					margin: 0 0 30px;
				}
			}
		}
	}

	&__img-container {
		overflow: hidden;
		@include flex( $align: center );

		[class*='__item--featured'] & {
			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					@include top_left();
					width: 85%;
					height: 100%;
				}
			}

			.no-sidebar & {
				@include from( 650 ) {
					@include top_left();
					width: 85%;
					height: 100%;
				}
			}
		}

		&--img-no-exist {
			display: none;
		}
	}

	&__content {
		@include flex( $direction: column );
		margin: -65px auto 0;
		border: 1px solid $light;

		&--img-no-exist {
			width: 100%;
		}

		.sidebar.blog-posts &,
		.sidebar.single-post & {
			@include between_from( 650, $sidebar_breakpoint_sm - 1, 1050 ) {
				padding: 30px;
			}
		}

		.no-sidebar & {
			@include from( 650 ) {
				padding: 30px;
			}
		}

		.no-sidebar &--img-no-exist,
		.sidebar.blog-posts &--img-no-exist,
		.sidebar.single-post &--img-no-exist {
			margin-top: 0;

			@include from( 650 ) {
				margin-top: 0;
				height: 100%;
				width: 100%;
			}
		}

		[class*='__item--featured'] & {
			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					@include flex( $direction: column, $justify: center );
					padding: 50px;
					width: 500px;
					height: auto;
					margin: 100px 0 30px 0;
				}

				@include from( 900 ) {
					margin-top: 150px;
					width: 500px;
					padding: 65px;
				}

				@include from( 1000 ) {
					width: 600px;
				}
			}

			.no-sidebar & {
				@include from( 650 ) {
					@include flex( $direction: column, $justify: center );
					padding: 50px;
					width: 500px;
					height: auto;
					margin: 100px 0 30px 0;

					@include from( 750 ) {
						margin-top: 150px;
						width: 600px;
						padding: 65px;
					}
				}
			}

			.no-sidebar &--img-no-exist,
			.sidebar.blog-posts &--img-no-exist,
			.sidebar.single-post &--img-no-exist {
				@include from( 650 ) {
					width: 100%;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	&__categories-link {
		[class*='__item--featured'] & {
			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					font-size: 0.8rem;
				}
			}
		}
	}

	&__title {
		a {
			display: block;
			word-wrap: break-word;
		}

		[class*='__item--featured'] & {
			a {
				white-space: normal;
			}

			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					font-size: 2rem;
					padding-bottom: 21px;
					margin: -3px 0 23px;
				}

				@include from( 900 ) {
					font-size: 2.2rem;
					margin: -1px 0 22px;
					padding-bottom: 20px;
				}
			}
		}
	}

	&__excerpt {
		[class*='__item--featured'] & {
			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					margin-bottom: 15px;
				}

				@include from( 900 ) {
					font-size: 1rem;
					margin-bottom: 14px;
				}
			}
		}
	}

	&__more {
		[class*='__item--featured'] & {
			.sidebar.blog-posts &,
			.sidebar.single-post & {
				@include between_from( 650, $sidebar_breakpoint_sm - 1, $sidebar_breakpoint_m ) {
					font-size: 0.85rem;
				}
			}
		}
	}
}
