/*--------------------------------------------------------------
-- Single post area --
--------------------------------------------------------------*/

.single-post-area {
	&__meta {
		margin: 20px 0 -5px;
		text-align: center;

		@include from( $breakpoint_sm ) {
			margin-top: 30px;
			text-align: left;
		}
	}

	&__categories-list,
	&__tags-list {
		@include flex( $wrap: wrap, $align: center );
		margin: -5px 0 20px;
	}

	&__tags-list {
		margin-top: -12px;
		margin-bottom: 0;
	}

	&__tags-item {
		margin: 5px 5px 0 0;
		display: inline-flex;
	}

	&__tags-link {
		font: normal 400 0.75rem $content_font_family;
		margin-right: 7px;
	}

	&__tags-hash {
		margin-right: -2px;
		font-size: 0.6rem;
	}
}
