/*--------------------------------------------------------------
-- Front Page Slider --
--------------------------------------------------------------*/

.front-page-slider {
	position: relative;

	&:before {
		content: '';
		@include top_left();
		width: 100%;
		height: 50%;
		background-color: #000000;
		border-bottom: 5px solid $medium;
	}

	&__container {
		overflow-x: hidden;
		height: 0;
		transition-duration: var( --transition-duration );
	}

	&__inner-container {
		background-color: $white;
		border: 10px solid $white;

		@include pseudo_before( $bottom: -10px, $right: -10px, $width: calc( 100% + 20px ), $height: calc( 100% + 20px ) ) {
			border: 1px solid $light;
		}

		@include from( 800 ) {
			border-width: 30px;

			&:before {
				width: calc( 100% + 60px );
				height: calc( 100% + 60px );
				bottom: -30px;
				right: -30px;
			}
		}
	}

	&__item {
		@include flex( $align: flex-end, $justify: flex-end );
		overflow: hidden;
		background-color: $light;
	}

	&__content {
		margin: 65px auto 10px;
		z-index: 2;

		@include from( 600 ) {
			padding: 50px;
			width: 75%;
			margin: 100px 30px 30px 0;
		}

		@include from( 820 ) {
			margin-top: 150px;
			padding: 65px;
			width: 600px;
		}
	}

	&__num {
		display: none;
		@include top_right( 0, 30px );

		@include from( 700 ) {
			color: $very_light;
			line-height: 1;
			z-index: -1;
			font: normal 700 120px $heading_font_family;
			right: 35px;
			display: block;
		}

		@include from( 820 ) {
			font-size: 140px;
			right: 65px;
		}
	}

	&__nav {
		display: none;

		@include from( 600 ) {
			@include flex( $direction: column );
			@include bottom_right( 0, 100% );
		}
	}

	&__nav-btn {
		@include from( 600 ) {
			@include flex( $align: center, $justify: center, $direction: column );
			width: 40px;
			height: 40px;
			font-size: 10px;
			padding: 0;
		}

		@include from( 800 ) {
			width: 50px;
			height: 50px;
		}
	}
}
