/*--------------------------------------------------------------
-- Front page portfolio --
--------------------------------------------------------------*/

.front-page-portfolio {
	@include flex( $wrap: wrap );
	margin: var( --section-spacer ) 0;

	&__header {
		overflow: hidden;
		margin-bottom: var( --section-spacer );
		text-align: center;
	}

	&__gallery-container {
		margin: -5px 0 -5px -10px;
		width: calc( 100% + 10px );
	}

	&__gallery {
		@include flex( $wrap: wrap );
		width: 100%;
	}

	&__item {
		width: 100%;
		height: 200px;
		margin: 5px 0 5px 10px;

		@include from( 450 ) {
			width: calc( 100% / 2 - 10px );
		}

		@include from( 1000 ) {
			width: calc( 100% / 4 - 10px );

			&--col-2 {
				width: calc( 100% / 2 - 10px );
			}
		}
	}

	&__title {
		@include from( 900 ) {
			font-size: 1.4rem;
		}

		@include from( 1000 ) {
			font-size: 1.1rem;
		}

		@include from( 1200 ) {
			font-size: 1.2rem;
		}

		@include from( 1600 ) {
			font-size: 1.4rem;
		}
	}

	&__link--last {
		@include flex( $align: center, $justify: center, $direction: column );
		height: 100%;
		font-size: 0.85rem;
	}
}
