/*--------------------------------------------------------------
-- Front Page Testimonials --
--------------------------------------------------------------*/

.front-page-testimonials {
	--button-background      : transparent;
	--button-hover-background: transparent;

	padding: var( --section-spacer ) 0;
	background-color: $very_light;

	&__container {
		position: relative;
	}

	&__header {
		overflow: hidden;
		margin-bottom: calc( var( --section-spacer ) - 15px );
		text-align: center;

		@include from( 750 ) {
			margin-bottom: calc( var( --section-spacer ) - 20px );
		}
	}

	&__heading {
		&:before {
			background-color: $white;
		}

		&:after {
			background-color: $very_light;
		}
	}

	&__nav {
		@include hidden();

		@include from( 700 ) {
			@include visible();
		}
	}

	&__nav-btn {
		@include flex( $align: center, $justify: center );
		position: absolute;
		top: 50%;
		transform: translateY( -50% );
		font-size: 14px;
		padding: 12px 14px;
		z-index: 10;

		&:before {
			font-family: $font_family_awesome;
		}

		&.prev {
			left: 5px;
			color: $very_dark;

			@include from( 1050 ) {
				left: 20px;
			}
		}

		&.next {
			right: 5px;
			color: $very_dark;

			@include from( 1050 ) {
				right: 20px;
			}
		}
	}

	&__slider {
		margin: 0 auto;
		max-width: 940px;

		@include between( 700, 1049 ) {
			padding: 0 25px;
		}
	}

	&__item {
		position: relative;
		max-width: 900px;
		margin: 0 auto;
		border-color: $very_light;
		border-bottom-width: 0;
		border-top-width: 15px;
		border-top-style: solid;
		border-bottom-style: solid;

		@include from( 700 ) {
			display: flex;
			border-width: 20px;
		}
	}

	&__quote-icon {
		@include top_right();
		transform: translate( -50%, -50% );
		padding: 10px;
		font-size: 10px;
		z-index: 2;
		color: $white;
		background-color: $dark;
	}

	&__img-container {
		position: relative;
		width: 100%;
		height: 200px;
		overflow: hidden;
		@include flex( $justify: center, $align: center );
		background-color: $white;

		@include from( 700 ) {
			width: 270px;
			height: initial;
			display: block;
			overflow: visible;
		}

		@include from( 1050 ) {
			width: 320px;
		}
	}

	&__img-inner-container {
		height: 100%;
		width: 100%;

		@include from( 700 ) {
			@include top_right( -20px );
			bottom: -20px;
			height: calc( 100% + 50px );
			width: 250px;
			border-right: 20px solid $very_light;
		}

		@include from( 1050 ) {
			width: 300px;
		}
	}

	&__content-container {
		width: 100%;
		padding: 30px;
		background-color: $white;
		text-align: center;

		@include from( 500 ) {
			text-align: left;
		}

		@include from( 700 ) {
			width: calc( 100% - 270px );
		}

		@include from( 1050 ) {
			width: calc( 100% - 320px );
			padding: 50px;
		}

		.no-img & {
			width: 100%;
		}
	}

	&__quote {
		margin: -5px 0 0;
		font-style: italic;
		font-size: 1rem;
		padding-bottom: 23px;
		line-height: 1.6;
		position: relative;

		&:before {
			content: '';
			@include bottom_center();
			width: 10px;
			height: 1px;
			background-color: $dark;

			@include from( 500 ) {
				left: 0;
				transform: none;
			}
		}
	}

	&__author {
		font: normal 700 1.4rem $heading_font_family;
		margin: 20px 0 5px 0;
		position: relative;
		z-index: 1;

		@include from( 600 ) {
			font-size: 1.7rem;
		}
	}

	&__work {
		margin: 0;
		font: normal 400 0.6rem $content_font_family;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		text-decoration: underline;
	}

	&__stars {
		font-size: 8px;
		margin-top: 23px;
		color: $medium;
	}

	&__stars-icon {
		margin-right: 3px;
	}

	&__num {
		display: none;

		@include from( 500 ) {
			font: normal 700 80px $heading_font_family;
			@include bottom_right( 25px, 35px );
			line-height: 1;
			color: $very_light;
			display: block;
		}

		@include from( 700 ) {
			font-size: 100px;
		}

		@include from( 1050 ) {
			font-size: 120px;
			bottom: 40px;
			right: 50px;
		}
	}
}
