/*--------------------------------------------------------------
-- Front Page Blog -- 
--------------------------------------------------------------*/

.front-page-blog {
	margin: var( --section-spacer ) 0;

	&__header {
		overflow: hidden;
		margin-bottom: var( --section-spacer );
		text-align: center;
	}

	&__btn-container {
		text-align: center;
		margin-top: 30px;
	}

	&__btn-link {
		padding: 13px 25px;
		font-size: 0.75rem;
	}
}
