/*--------------------------------------------------------------
-- Front page customizer -- 
--------------------------------------------------------------*/

.front-page-customizer {
	margin-top: var( --section-spacer );
	margin-bottom: var( --section-spacer );
	text-align: center;

	&__content {
		margin: 0 0 30px;
		font-size: 1.1rem;

		a {
			text-decoration: underline;
		}
	}

	&__link--is-not-active {
		--button-hover-color: var( --button-color );
		--button-hover-background: var( --button-background );
		opacity: 0.3;
	}
}
