/*--------------------------------------------------------------
-- Front page WooCommerce products -- 
--------------------------------------------------------------*/

.front-page-woo-products,
.woo-products {
	margin: var( --section-spacer ) 0;

	&__header {
		margin-bottom: var( --section-spacer );
	}

	&__list {
		@include flex( $wrap: wrap );
		margin: -5px;
	}

	&__item {
		width: calc( 25% - 10px );
		margin: 5px;
	}

	&__img-container {
		overflow: hidden;
		position: relative;

		@keyframes added_to_cart {
			to {
				opacity: 1;
				transform: none;
			}
		}

		.added_to_cart {
			@include top_left();
			width: 100%;
			padding: 12px 12px 14px;
			font-size: 0.75rem;
			text-decoration: underline;
			text-align: center;
			font-weight: 400;
			transform: translateY(-100%);
			background-color: black;
			color: white;
			z-index: 2;
			opacity: 0;
			animation: added_to_cart var(--transition-duration) ease-in-out forwards;
		}
	}

	&__cart-link {
		@include bottom_left( 20px, 20px );
		width: 40px;
		height: 40px;
		font-size: 11px;
		padding: 0;
		z-index: 1;
		overflow: hidden;
		@include flex( $align: center, $justify: center );

		&.loading:before {
			@include visible();
		}


		@keyframes spinner_rotating {
			to { transform: rotateZ( 360deg ); }
		}

		&:before {
			font-family: $font_family_awesome;
			@include top_left();
			@include flex( $align: center, $justify: center );
			@include hidden();
			font-size: 14px;
			transition-duration: var(--transition-duration);
			width: 100%;
			height: 100%;
			z-index: 5;
			animation: spinner_rotating calc( var(--transition-duration) * 2 ) linear infinite;
		}
	}

	&__cart-link-icon {
		transition-duration: var(--transition-duration);

		.loading & {
			@include hidden();
		}
	}

	&__img-link {
		width: 100%;
	}

	&__content-container {
		border: 1px solid $light;
		padding: 20px;
	}

	&__price {
		display: block;
		padding-bottom: 10px;
		margin-bottom: 10px;
		font-size: 0.85rem;
		font-family: $content_font_family;
		font-weight: 400;
		border-bottom: 1px solid $light;
	}

	&__title {
		font-size: 1.2rem;
		font-weight: 700;
		margin: 0;
	}

	// &__stars-container {
	// 	position: relative;
	// 	display: inline-flex;
	// 	font-size: 8px;
	// 	color: $medium;
	// }

	// &__stars-icon {
	// 	margin-right: 3px;
	// }

	// &__stars-inner-container {
	// 	@include top_left();
	// 	display: inline-flex;
	// 	overflow: hidden;
	// 	color: black;
	// }
}
